<!-- START PRELOADER -->
<div class="preloader">
    <div class="status">
        <div class="status-mes">
            <div class="loader">
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__ball"></div>
            </div>
        </div>
    </div>
</div>	
	<!-- Start Slider Area -->
    <section id="slider_area">
        <div >

            

            <div class="slider_item3 single_slide text-right">
                <div class="container">
                    <div class="single-slide-item-table">
                        <div class="single-slide-item-tablecell">
                            <div class="slider_content slider-animated-3">
                                <span class="sl_heading animated">Our Sellers</span>
                                <h2 class="animated"> <span>Discover</span> Them</h2>
                                <p class="animated">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mattis congue ipsum eu ultricies  Vivamus <br />  viverra tortor tincidunt placerat eleifend  Nulla</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Slider Area -->
    
    
    <!-- Start About Area -->
    <section id="about_area" class="section_padding bg_white">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-xs-12 text-center wow fadeIn" data-wow-delay=".1s">
                    <div class="section_title">
                        <h2>Our <span>Products</span></h2>
                        <div class="sec_divider"></div>
                        <p>It is a long established fact that a reader will be distracted by the readable <br>content of a page when looking at its layout</p>
                    </div>
                </div>
            </div>
                
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="single_about" *ngFor="let product of productslist">
                        <div class="about_icon">
                            <img [src]="product.image" alt="" class="w-100 card-img-top">
                        </div>
                        <div class="about_content">
                            <h3>
                                {{product.title}}                        
                                </h3>
                            <p>
                                {{product.name}}  
                                                
                                      </p>
                            <button >
                                <mat-icon>info</mat-icon>
                            </button>

                        </div>  
                    </div>			
                </div><!--End Col -->								
                
				


    
            </div>				
        </div>
    </section>
    <!-- End About Area -->
       