<h4> Add Category Form </h4><mat-divider></mat-divider><br>
<div class="card"><br><br>
  <div class="container">
    <form [formGroup]="categoryService.form" class="normal-form"  class="normal-form">
      <mat-form-field appearance="outline">
        <mat-label> Title *</mat-label>
        <input matInput formControlName="title">
        <mat-error *ngIf="categoryService.form.controls['title'].errors?.required">this field is mandatory.
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" style="margin-left: 3px;">
        <mat-label> Subtitle *</mat-label>
        <input matInput formControlName="subtitle">
        <mat-error *ngIf="categoryService.form.controls['subtitle'].errors?.required">this field is mandatory.
        </mat-error>
       </mat-form-field>
       <mat-form-field appearance="outline" style="margin-left: 3px;">
        <mat-label> menuimage *</mat-label>
        <input matInput formControlName="slug">
        <mat-error *ngIf="categoryService.form.controls['menuimage'].errors?.required">this field is mandatory.
        </mat-error>
       </mat-form-field>
       <mat-form-field appearance="outline" style="margin-left: 3px;">
        <mat-label> bannerimage *</mat-label>
        <input matInput formControlName="slug">
        <mat-error *ngIf="categoryService.form.controls['bannerimage'].errors?.required">this field is mandatory.
        </mat-error>
       </mat-form-field>
      <div class="form-group">
        <label> Description * </label>
        <ckeditor formControlName="description" class="w-10 col-12" [config]='config'></ckeditor>
      </div> <div class="form-group">
        <input color="primary" type="file" (change)="onSelectFile($event)">
      </div><br>
      <button mat-raised-button color="primary"  [disabled]="categoryService.form.invalid" (click)="OnAddCategory()" class="float-right">
        <mat-icon>save</mat-icon> Save
      </button>
      <br><br>
    </form>
  </div>
</div>