
<div class="card" style="width:100%;"><br>
  <div class="container">
    <div class="search-div">
      <mat-form-field class="search-form-field" floatLabel="never">
        <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>&nbsp;&nbsp;&nbsp;
      <button mat-fab color="gray" (click)="onCreateCompany()">
        <mat-icon>add</mat-icon>
      </button>&nbsp;&nbsp;
    </div>

  </div><br>
  <!--<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search by active"
          [(ngModel)]="active"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchActive()"
          >
            Search
          </button>
        </div>
      </div>
    </div>-->
  <div class="table-responsive">
    <table mat-table #table [dataSource]="datasource" matSort>
      <ng-container matColumnDef="image">
        <mat-header-cell *matHeaderCellDef mat-sort-header style="margin-Left:10px;"> Image </mat-header-cell>
        <mat-cell *matCellDef="let element" style="margin-Left:10px;"> {{element.image}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header style="margin-Left:10px;">Email  </mat-header-cell>
        <mat-cell *matCellDef="let element" style="margin-Left:10px;">{{element.email}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Phone</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.phone}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="adresse">
          <mat-header-cell *matHeaderCellDef mat-sort-header style="margin-Left:10px;">Adress  </mat-header-cell>
          <mat-cell *matCellDef="let element" style="margin-Left:10px;">{{element.adresse}} </mat-cell>
        </ng-container>
      <ng-container matColumnDef="published">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Published At</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.published  | date:'short'}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div></div>
          <div></div>
          <button mat-icon-button (click)="onEditCompany(row)">
            <mat-icon>edit_outline</mat-icon>
          </button>
          <button mat-icon-button (click)="ViewCompany(row)">
            <mat-icon>list</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon  (click)="onDeleteCompany(row.id)">delete_forever</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="loading">
        <mat-footer-cell *matFooterCellDef colspan="6">
          Loading data....
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="nodata">
        <mat-footer-cell *matFooterCellDef colspan="6">
          NO data....
        </mat-footer-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':datasource!=null}"></mat-footer-row>
      <mat-footer-row *matFooterRowDef="['nodata']"
        [ngClass]="{'hide': !(datasource!=null && datasource.data.length==0)}"></mat-footer-row>
    </table>
    <br>
    <mat-paginator [pageSizeOptions]="[ 5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
  </div>
</div>

<br>





































<!--<div class="table-responsive">
        <table class="table table-hover">
          <thead >
              <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Contact Number</th>
            <th>Email</th>
        </tr>
          </thead>
          <tbody>
          <tr>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td><mat-icon >edit</mat-icon><mat-icon >delete</mat-icon></td>
         </tr>
          <tr>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
        
          </tr>
          <tr>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
        
          </tr>
        </tbody>
        </table>
    </div>-->