<div id="wrapper">

    <div class="content-page">
      <!-- Start content -->
      <div class="content " >
              <section class="paddings"> <!-- Start Section-->    
                  <div class="container"> <!-- Start container-->    
                      <div class="row page-error"  align="center">  
                          <h1>404 <i class="fa fa-unlink " aria-hidden="true"  style="color:#446DCA;" ></i></h1>
                           <hr class="tall">
                          <p class="lead">Siamo spiacenti, ma la pagina che stavi cercando non esiste.</p>
                          <a routerLink="/login" class="btn btn-primary btn-block">Ritorno alla accedi</a>                    
                      </div>           
                  </div>
                  <!-- End Container-->
              </section>
              <!-- End Section-->    
           
      </div>
    </div>  <!-- End content -->
</div>