<br><br><br>

<div class="search-div">
  <button  class="float-right" mat-fab color="gray" (click)="onCreateTags()">
    <mat-icon color="primary">add</mat-icon>
  </button>
  <mat-form-field class="search-form-field" floatLabel="never">
    <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
    <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<br>
<div class="card">
<div class="card-body">
<div class="table-responsive">
  <mat-table [dataSource]="datasource" matSort>
    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header style="margin-Left:10px;"> ID </mat-header-cell>
        <mat-cell *matCellDef="let element" style="margin-Left:10px;">{{element.id}} </mat-cell>
      </ng-container>
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header style="margin-Left:10px;"> Description </mat-header-cell>
      <mat-cell *matCellDef="let element" style="margin-Left:10px;"> {{element.description}} </mat-cell>
    </ng-container>
    <!--<ng-container matColumnDef="createdDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Created At</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.createdDate  | date:'medium'}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="lastModifiedDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Last Modified At</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.lastModifiedDate  | date:'medium'}} </mat-cell>
    </ng-container>-->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">&nbsp;&nbsp;&nbsp;
        <button mat-icon-button (click)="onEditTags(row)">
          <mat-icon>edit_outline</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="onDeleteTags(row.id)">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef colspan="6">
        Loading data....
      </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="nodata">
      <mat-footer-cell *matFooterCellDef colspan="6">
        NO data....
      </mat-footer-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':datasource!=null}"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="['nodata']"
      [ngClass]="{'hide': !(datasource!=null && datasource.data.length==0)}"></mat-footer-row>
  </mat-table>
  </div>
  </div>
  <mat-paginator [pageSizeOptions]="[ 5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
</div>

<br>