
<!-- END ROW -->
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">
            <!-- START ROW -->
<div class="row" >
    <div class="col-xl-8">
        <div class="card m-b-40" >
            <div class="card-body">
            <div class="row"> 
                <h4 class="col mt-0 header-title mb-4">Liste des utilisateurs</h4>
                <a  class="col btn btn-outline-success" style="width: 10px;" href=""><span class='material-icons'>add</span>Ajouter un utilisateur</a>
            </div>
                <div class="table-responsive"  >
                    <table class="table table-hover" >
                        <div >
                        <thead>
                            <tr>
                                <th scope="col">First Name</th>
                                <th scope="col">Last name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Phone Number</th>
                                <th scope="col" colspan="2">Actions</th>


                            </tr>
                        </thead>
                        <tbody *ngFor="let users of usersList">
                            <tr>
                                <td>{{ users.first_name }}</td>

                                <td><span >{{ users.last_name }}</span></td>
                                <td>{{ users.email }}</td>
                                <td>{{ users.phone }}</td>

                                <td>
                                    <div>
                                        <a href=""><span class='material-icons'>edit</span></a>
                                        <a href=""><span class='material-icons'>delete</span></a>
                                    </div>
                                </td>
                                
                            </tr>
                           
                        </tbody>
                    </div>
                    </table>
                </div>

            </div>
        </div>
    </div>
    
</div>
            
        </div>
        <!-- container-fluid -->

    </div>
    <!-- content -->



