<br><br><br>
<div id="wrapper">
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container ">        

          <h2  for=""> Account List </h2>
          <mat-progress-bar mode="determinate" value="17"></mat-progress-bar><br><br>
            <app-account-list></app-account-list>
            <br><br><br>
            </div>
            </div>
        </div>
        </div>
       