<!-- START PRELOADER -->
<div class="preloader">
    <div class="status">
        <div class="status-mes">
            <div class="loader">
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__ball"></div>
            </div>
        </div>
    </div>
</div>	
	<!-- Start Slider Area -->
    <section id="slider_area">
        <div >

            

            <div class="slider_item3 single_slide text-right">
                <div class="container">
                    <div class="single-slide-item-table">
                        <div class="single-slide-item-tablecell">
                            <div class="slider_content slider-animated-3">
                                <span class="sl_heading animated">About</span>
                                <h2 class="animated"> <span>Discover</span> Them</h2>
                                <p class="animated">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mattis congue ipsum eu ultricies  Vivamus <br />  viverra tortor tincidunt placerat eleifend  Nulla</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Slider Area -->
    
    
    <!-- Start About Area -->
    <section id="about_area" class="section_padding bg_white">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-xs-12 text-center wow fadeIn" data-wow-delay=".1s">
                    <div class="section_title">
                        <h2>Che cosa è    <span>un cookie ?</span></h2>
                        <div class="sec_divider"></div>
                    </div>
                </div>
            </div>
                
						
                <div class="container">
                    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
                    <p>Un cookie è una piccola stringa di testo che un sito invia al browser e salva sul tuo computer quando visiti dei siti internet. Alcuni di questi cookies sono necessari al corretto funzionamento del sito, altri sono invece utili al visitatore perché in grado di memorizzare in modo sicuro ad esempio il nome utente o le impostazioni di lingua. Il vantaggio di avere dei cookies installati nel proprio pc è quello di non aver più bisogno di compilare le stesse informazioni ogni qualvolta si voglia accedere ad un sito visitato in precedenza.</p>
                
                    <h3>Che tipo di cookies utilizza <a href=" www.igesa.it"> www.igesa.it</a> e a quale scopo ?</h3>

                    <p>Il nostro sito utilizza diversi tipi di cookies ognuno dei quali ha una funzione specifica, come indicato di seguito:</p>

                    <h4>TIPI DI COOKIES:</h4>

                    <h3>Cookies di navigazione:</h3>

                    <p>Questi cookies permettono al sito di funzionare correttamente e sono usati per raccogliere informazioni su come i visitatori usano il sito. Questa informazione viene usata per compilare report e aiutarci a migliorare il sito. I cookies raccolgono informazioni in maniera anonima, incluso il numero di visitatori del sito, da dove i visitatori sono arrivati e le pagine che hanno visitato.</p>

                    <h3>Cookies analitici:</h3>

                    <p>Questi cookies sono utilizzati ad esempio da Google Analytics per elaborare analisi statistiche sulle modalità di navigazione degli utenti sul sito attraverso i computer o le applicazioni mobile, sul numero di pagine visitate o il numero di click effettuati su una pagina durante la navigazione di un sito.</p>
                
                    <h3>Cookies di terze parti:</h3>

                    <p>Questi cookies sono utilizzati da società terze. L’uso di questi cookies normalmente non implica il trattamento di dati personali. I cookies di terze parti derivano da annunci di altri siti, ad esempio messaggi pubblicitari, presenti nel sito Web visualizzato. Possono essere utilizzati per registrare l’utilizzo del sito a scopo di marketing.</p>
                
                    <h3>Come posso disabilitare i cookies?</h3>

                    <p>La maggior parte dei browser (Internet Explorer, Firefox, Safari, Google Chrome etc.) sono configurati per accettare i cookies. Tuttavia, la maggior parte dei browser permette di controllare e anche disabilitare i cookies attraverso le impostazioni del browser. Ti ricordiamo però che disabilitare i cookies di navigazione o quelli funzionali può causare il malfunzionamento del sito e/o limitare il servizio offerto.</p>
                
                    <br>
                    
                    <p>Per modificare le impostazioni, segui il procedimento indicato dai vari browser che trovi alle voci "Opzioni", "Preferenze" o "Privacy".</p>
                
                    <p>Per saperne di più riguardo ai cookies leggi la normativa.</p>
                    
                </div>
    
        </div>
    </section>
    <!-- End About Area -->
        <footer id="footer_area">
        <div class="container">	
            <div class="row">							
                <div class="col-sm-6">
                    <div class="copyright">
                        <p>&copy; 2022 All Rights Reserved <a href="#">Passion</a></p>
                    </div>			
                </div>
                
                <div class="col-sm-6">
    
                    <div class="ftr_social_list">
                        <ul class="navbar-right">
                            <li><a href="#" class="f_facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="f_twitter"><i class="fa fa-twitter" ></i></a></li>
                            <li><a href="#" class="f_linkedin"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#" class="f_youtube"><i class="fa fa-youtube"></i></a></li>
                            <li><a href="#" class="f_google"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>						
                </div>					
            </div>
        </div><!-- /.container-fluid -->
    </footer>