<div class="container" style="width: 500px;">
  <mat-toolbar>
    <span>Company Details</span>
    <span class="fill-remaining-space"></span>
  </mat-toolbar><br>

  <div > <b> Title : </b>  </div>
  <mat-progress-bar mode="determinate" value="25"></mat-progress-bar><br>
  <div></div>
  <mat-toolbar>
    <span>{{company.title}} </span>
    <span class="fill-remaining-space"></span>
  </mat-toolbar>
  <br>
  <div> <b> Details Image : </b>   </div>
  <mat-progress-bar mode="determinate" value="25"></mat-progress-bar><br>
  <mat-toolbar>
  <span>{{company.detailimage}}</span>
  <span class="fill-remaining-space"></span>
</mat-toolbar>
<div> <b> Note : </b>   </div>
<mat-progress-bar mode="determinate" value="25"></mat-progress-bar><br>
<mat-toolbar>
<span>{{company.note}}</span>
<span class="fill-remaining-space"></span>
</mat-toolbar> <br>
<div> <b> Name : </b>   </div>
<mat-progress-bar mode="determinate" value="25"></mat-progress-bar><br>
<mat-toolbar>
<span>{{company.name}}</span>
<span class="fill-remaining-space"></span>
</mat-toolbar> <br>
<div> <b> Image : </b>   </div>
<mat-progress-bar mode="determinate" value="25"></mat-progress-bar><br>
<mat-toolbar>
<span>{{company.image}}</span>
<span class="fill-remaining-space"></span>
</mat-toolbar> <br>
<div> <b> Consultation Number : </b>   </div>
<mat-progress-bar mode="determinate" value="25"></mat-progress-bar><br>
<mat-toolbar>
<span>{{company.consultationNumber}}</span>
<span class="fill-remaining-space"></span>
</mat-toolbar> <br>
  <mat-dialog-actions align="center">
    <button mat-button mat-dialog-close>CANCEL</button>
  </mat-dialog-actions>
  <br> <br>
</div>