.example-form {
    min-width: 100px;
    max-width: 1000px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }
  /*.mat-divider {
    border-top-color: rgb(3, 3, 164);
  }*/
  