
<br><br><br>
<div id="wrapper">

<div class="content-page">
    <!-- Start content -->
    <div class="content">
      <div class="col-xl-12">
        <div class="card m-b-30">
            <div class="card-body">
      <fieldset class="container" >
        <h3 >Section title front office side</h3>
        <mat-progress-bar mode="determinate" value="30"></mat-progress-bar><br><br>
        
        <div class="container">
          <form class="example-form">  
            <label for=""> Section title front office side*</label> <br>       
            <mat-form-field class="example-full-width" style="width: 500px;" appearance="fill">
              <textarea matInput  ></textarea>
            </mat-form-field> <br>
            <button mat-raised-button color="primary" style="width: 100px;">Save</button>
          </form>

        </div>
      </fieldset>
    </div>
  </div>
</div>
      <br>
      <br>
      <div class="col-xl-12">
        <div class="card m-b-30">
            <div class="card-body">
      <fieldset class="container" >
        <h1>Active Slides List</h1> <br>
      <mat-progress-bar mode="determinate" value="30"></mat-progress-bar><br><br>
        <div class="container">
          <form class="example-form">  
              <input type="file"> <br> <br>
              <section>

                
              </section>
            <button mat-raised-button color="primary" style="width: 100px;">Save</button>
          </form>
        </div>
      </fieldset>
    </div>
  </div>
  </div>


    </div>
    <!-- content -->



</div>
</div>