<div id="wrapper" [hidden]="!isLoggedIn">

    <!-- Top Bar Start -->
    <div class="topbar" *ngIf="isLoggedIn && showAdminBoard">
        <!-- LOGO -->
        <div class="topbar-left">
            <a href="#" class="logo">
                <span class="logo-light">
                    <img src="assets/images/igesa.png" style="width:160px;"> </span></a>
        </div>
        <nav class="navbar-custom">
            <ul class="navbar-right list-inline float-right mb-0">
                <li class="dropdown notification-list list-inline-item">
                    <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#"
                        role="button" aria-haspopup="false" aria-expanded="false"> {{username}} <span
                            class="mdi mdi-chevron-down"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                        <!-- item-->
                        <a class="dropdown-item" routerLink="/profil"><i class="mdi mdi-account-circle"></i> Profile</a>
                        <a class="dropdown-item" href="#"><i class="mdi mdi-wallet"></i> Wallet</a>
                        <a class="dropdown-item d-block" href="#"><span
                                class="badge badge-success float-right">11</span><i class="mdi mdi-settings"></i>
                            Settings</a>
                        <a class="dropdown-item" href="#"><i class="mdi mdi-lock-open-outline"></i> Lock screen</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" (click)="logout()"><i class="mdi mdi-power text-danger"></i>
                            Logout</a>
                    </div>

                </li>
            </ul>
            <ul class="navbar-right list-inline float-right mb-1">
                <!-- notification -->
                <li class="dropdown notification-list list-inline-item">
                    <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#"
                        role="button" aria-haspopup="false" aria-expanded="false">
                        <img src="assets/images/us_flag.jpg" class="mr-2" height="12" alt="" />
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated language-switch">
                        <a class="dropdown-item" href="#"><img src="assets/images/french_flag.jpg" alt=""
                                height="16" /><span> French </span></a>
                        <a class="dropdown-item" href="#"><img src="assets/images/italy_flag.jpg" alt=""
                                height="16" /><span> Italian </span></a>
                    </div>
                </li>
                <!-- full screen -->
                <li class="dropdown notification-list list-inline-item d-none d-md-inline-block">
                    <a class="nav-link waves-effect" href="#" id="btn-fullscreen">
                        <i class="mdi mdi-arrow-expand-all noti-icon"></i>
                    </a>
                </li>
            </ul>


            <ul class="list-inline menu-left mb-0">
                <li class="float-left">
                    <button class="button-menu-mobile open-left waves-effect">
                        <i class="mdi mdi-menu"></i>
                    </button>
                </li>

            </ul>
        </nav>  
    </div>
    
<app-left-slide-bar ></app-left-slide-bar>