<!-- START PRELOADER -->
<div class="preloader">
    <div class="status">
        <div class="status-mes">
            <div class="loader">
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__ball"></div>
            </div>
        </div>
    </div>
</div>	
	<!-- Start Slider Area -->
    <section id="slider_area">
        <div >

            

            <div class="slider_item3 single_slide text-right">
                <div class="container">
                    <div class="single-slide-item-table">
                        <div class="single-slide-item-tablecell">
                            <div class="slider_content slider-animated-3">
                                <span class="sl_heading animated">About</span>
                                <h2 class="animated"> <span>Discover</span> Them</h2>
                                <p class="animated">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mattis congue ipsum eu ultricies  Vivamus <br />  viverra tortor tincidunt placerat eleifend  Nulla</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Slider Area -->
    
    
    <!-- Start About Area -->
    <section id="about_area" class="section_padding bg_white">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-xs-12 text-center wow fadeIn" data-wow-delay=".1s">
                    <div class="section_title">
                        <h2>Assistenza</h2>
                        <div class="sec_divider"></div>
                    </div>
                </div>
            </div>
                
            <div class="row">
						
                
				
                <div class="container">
                    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
                    <div class="row">
                      <div class="col-md-8">
                      <p>L'assistenza sui software Igesa è un settore fondamentale per la nostra azienda. Infatti siamo in grado di offrirvi un efficiente servizio sulle problematiche dei nostri software gestionali, grazie all'esperienza pluriennale dei nostri operatori. </p> 

                       <p>Il Servizio di Assistenza si suddivide in:
                        - Assistenza sui software IGESA (anche in teleassistenza)
                        - Assistenza sui software non IGESA: sotto questa voce vanno i servizi di assistenza sui software non sviluppati dalla Igesa ma sui quali viene fornito un servizio ai clienti.
                        Questi comprende:
                        - Teleassistenza telefonica multilingua (Italiano, Francese, Arabo)
                        - Formazione ai clienti
                        </p>
                       <p>Per informazioni e consulenze sui vari servizi contattare il Responsabile Assistenza presso i nostri uffici.
                        Assistenza Sistemistica
                        L'assistenza sistemistica è curata da Antonio Falconeri e comprende i servizi di assistenza ai clienti sull'hardware e sui sistemi operativi.
                        Inoltre prevede la configurazione delle macchine, installazione e avvio dei software Igesa.</p>
                        

                    </div>
                      <div class="col-6 col-md-4">

                        <img src="../../assets/img/assistance.gif" alt="ss" srcset="">

                    
                      </div>
                    </div>
                </div>
    
            </div>				
        </div>
    </section>
