<!-- START PRELOADER -->
<div class="preloader">
    <div class="status">
        <div class="status-mes">
            <div class="loader">
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__ball"></div>
            </div>
        </div>
    </div>
</div>	
		<!-- Start Slider Area -->
        <section id="slider_area">
            <div class="slider_active owl-carousel">
                <div class="slider_item1 single_slide">
                    <div class="container">	
                        <div class="single-slide-item-table">
                            <div class="single-slide-item-tablecell">
                            <div class="slider_content slider-animated-1">
                                    <h2 class="animated"> <span>Advanced</span> Software <span>Solutions</span> </h2>
                                    <br>
                                    <a href="#" class="animated btn main_bg_btn">learn more</a>
                                </div>	
                            </div>
                        </div>						
                    </div>
                </div>
                
                <div class="slider_item2 single_slide">
                    <div class="container">		
                        <div class="single-slide-item-table">
                            <div class="single-slide-item-tablecell">
                                <div class="slider_content text-center slider-animated-2">
                                    <h2 class="animated"> <span>E-Commerce </span> Click&Collect</h2>
                                    <span class="sl_heading animated">The online showcase for your business</span>
                                    <br>
                                    <a href="#" class="animated btn main_bg_btn">learn more</a>
                                </div>	
                            </div>
                        </div>	
                    </div>
                </div>
    
                <div class="slider_item3 single_slide text-right">
                    <div class="container">
                        <div class="single-slide-item-table">
                            <div class="single-slide-item-tablecell">
                                <div class="slider_content slider-animated-3">
                                    <h2 class="animated"> <span>Foodmanager the </span>Software software </h2>
                                    <span class="sl_heading animated">for your Food outlets</span>
                                    <br>
                                    <a href="#" class="animated btn main_bg_btn">learn more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider_active owl-carousel">
                    <div class="slider_item4 single_slide">
                        <div class="container">	
                            <div class="single-slide-item-table">
                                <div class="single-slide-item-tablecell">
                                    <div class="slider_content slider-animated-1">
                                        <h2 class="animated"> The software<span> solution </span> for your <span>business</span>  </h2>
                                        <span class="sl_heading animated">Magazine, Accounting, Invoicing</span>
                                        <br>
                                        <a href="#" class="animated btn main_bg_btn">learn more</a>
                                    </div>	
                                </div>
                            </div>						
                        </div>
                    </div>
                    </div>
            </div>
            
        </section>
    
    
    <!-- Start About Area -->
    <section id="about_area" class="section_padding bg_white">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-xs-12 text-center wow fadeIn" data-wow-delay=".1s">
                    <div class="section_title">
                        <h2>Assistenza</h2>
                        <div class="sec_divider"></div>
                    </div>
                </div>
            </div>
                
            <div class="row">
						
                
				
                <div class="container">
                    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
                    <div class="row">
                      <div class="col-md-8">
                      <p>
                        Assistance on Igesa software is a fundamental sector for our company. In fact we are able to offer you an efficient service on the problems of our management software, thanks to the many years of experience of our operators.</p> 

                       <p>Hotline Assistance and Customer Training Department:
                        Telephone 0941-1935133 The Assistance Department of Igesa S.r.l. and deals with the coordination of the sector for all the technical-system aspects and customer support for software produced by the Company and the technical tests on all the software produced and marketed.
                        </p>
                       <p>The Assistance Service is divided into:
                        - Assistance on IGESA software (also in remote assistance)
                        - Assistance on non-IGESA software: under this heading are the assistance services on software not developed by Igesa but on which a service is provided to customers.
                        These include:
                        - Multilingual telephone assistance (Italian, French, Arabic)
                        - Customer training</p>
                        <p>
                            For information and advice on the various services, contact the Assistance Manager at our offices.
System Assistance
System assistance is handled by Antonio Falconeri and includes customer assistance services on hardware and operating systems.
It also provides for the configuration of the machines, installation and start-up of the Igesa software.
                        </p>

                    </div>
                      <div class="col-6 col-md-4">

                        <img src="../../assets/img/assistance.gif" alt="ss" srcset="">

                    
                      </div>
                    </div>
                </div>
    
            </div>				
        </div>
    </section>
