<mat-toolbar>
  <span>{{groupeService.form.controls['id'].value?"Modify Group ":"New Group"}}</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar><br><br>
  <form [formGroup]="groupeService.form" class="normal-form" (submit)="onSubmit()" class="normal-form">
    <mat-grid-list cols="1" rowHeight="260px">
      <mat-grid-tile>
        <div class="controles-container">
          <input type="hidden" formControlName="id">
          <mat-form-field style="margin-left: 30px;">
            <input formControlName="name" matInput placeholder="name" required>
            <mat-error *ngIf="groupeService.form.controls['name'].errors?.required">this field is mandatory.
            </mat-error>
          </mat-form-field>
          <mat-form-field style="margin-left: 30px;">
            <textarea matInput 
            placeholder="Description" 
            required
            maxlength="100"
            formControlName="description" >
        </textarea>
        <mat-error *ngIf="groupeService.form.controls['description'].errors?.required">this field is mandatory. 
        </mat-error>   
        </mat-form-field>  
        <mat-form-field style="margin-left: 30px;">
          <input type="number" formControlName="maxOperateur" matInput placeholder="maxOperateur" required>
          <mat-error *ngIf="groupeService.form.controls['maxOperateur'].errors?.required">this field is mandatory.
          </mat-error>
        </mat-form-field> 
        <!--<mat-form-field style="margin-left: 30px;">
          <mat-select placeholder="Company Acrivity" formControlName="companyId">
            <mat-option *ngFor="let company of companyServices" [value]="company.id">
              {{company.description}}
            </mat-option>
          </mat-select>
        </mat-form-field>-->
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <div class="button-row" align="center">
      <button mat-raised-button color="primary" type="submit"
        [disabled]="groupeService.form.invalid" (click)="refresh()">  <mat-icon>save </mat-icon>  Save</button>
        <button mat-raised-button  mat-dialog-close> <mat-icon>close</mat-icon>Cancel</button>
      <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
  </div>
  </form>