<br><br>
<div class="content-page">
  <!-- Start content -->
  <div class="content">
    <div class="container">
      <h2 for=""> Tags List </h2>
      <mat-progress-bar color="gray" mode="determinate" value="13"></mat-progress-bar><br>
       <app-list-tags></app-list-tags><br><br><br>
    </div>
  </div>
</div>