<br><br><br>
<div class="container">
  <div class="search-div">
    <button class="float-right" mat-fab color="primary" (click)="onCreateGroupe()">
      <mat-icon>add</mat-icon>
    </button>&nbsp;&nbsp;
  </div>
</div>
<br><br>
<div class="card" style="width:100%;"><br>
  <div class="container">
    <div class="search-div">
      <mat-form-field class="search-form-field" floatLabel="never">
        <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>&nbsp;&nbsp;&nbsp;
      <button mat-fab color="gray" (click)="removeAllGroupe()">
        <mat-icon color="warn" style="font-size: 20px;"> close </mat-icon>
      </button>
    </div>
  </div><br>
  <div class="table-responsive">
    <table mat-table #table [dataSource]="datasource" matSort>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.name}} </mat-cell>
      </ng-container>
      <!--<ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Description</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.description}} </mat-cell>
      </ng-container>-->
      <ng-container matColumnDef="groupStatus">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button [ngStyle]="{'font-size.px':13}" class="badge badge-warning mr-2"
            (click)="updateactiveGroupe(element)">
            <span class="badge"
              [ngClass]="{'badge-success' : element.groupStatus === 'ACTIVE' , 'badge-warning' : element.groupStatus === 'PENDING' , 'badge-danger' : element.groupStatus === 'BLOCKED'}">
              {{element.groupStatus}}
            </span>
          </button>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="createdDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Created At</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.createdDate | date:'short'}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="lastModifiedDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Last Modified At</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.lastModifiedDate | date:'short'}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div></div>
          <div></div>
          <button mat-icon-button (click)="onEditGroupe(row)">
            <mat-icon>edit_outline</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon (click)="onDeleteGroupe(row.id)">delete_forever</mat-icon>
          </button>
          <button mat-icon-button (click)="ViewGroupe(row)">
            <mat-icon>list</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="loading">
        <mat-footer-cell *matFooterCellDef colspan="12">
          Loading data....
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="nodata">
        <mat-footer-cell *matFooterCellDef colspan="12">
          NO data....
        </mat-footer-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':datasource!=null }"></mat-footer-row>
      <mat-footer-row *matFooterRowDef="['nodata']"
        [ngClass]="{'hide': !(datasource!=null && datasource.data.length===0)}"></mat-footer-row>
    </table>
    <br>
    <mat-paginator [pageSizeOptions]="[ 5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
  </div>
</div>
<br>

