.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
}
    
    .mat-table {
        width: 100%;
        max-width: 60%;
        margin-bottom: 1rem;
        display: table;
        border-collapse: collapse;
        margin: 0px;
    }
    
    .mat-row,
    .mat-header-row {
        display: table-row;
    }
    
    .mat-cell,
    .mat-header-cell  {
        word-wrap: initial;
        display: table-cell;
        padding: 0px 80px;
        line-break: unset;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;
    }
