<br><br><br>
<div class="card" style="width:100%;"><br>
  <div class="container">
    <div class="search-div">
      <mat-form-field class="search-form-field" floatLabel="never">
        <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>&nbsp;&nbsp;&nbsp;
      <button mat-fab color="gray" (click)="onCreateGroupe()">
        <mat-icon>add</mat-icon>
      </button>&nbsp;&nbsp;
      <button mat-fab color="gray" (click)="removeAllGroupe()">
        <mat-icon style="font-size: 20px;"> close </mat-icon>
      </button>
    </div>

  </div><br>
  <!--<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search by active"
          [(ngModel)]="active"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchActive()"
          >
            Search
          </button>
        </div>
      </div>
    </div>-->
  <div class="table-responsive">
    <table mat-table #table [dataSource]="datasource" matSort>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Description</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.description}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="active">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Active</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button class="badge badge-warning mr-2" *ngIf="element.active" (click)="updateactiveGroupe(false)">
            <span class="badge badge-success" style="font-size: 12px;"> {{element.active ? "Actived" : "Pending"}}
            </span>
          </button>
          <button mat-icon-button class="badge badge-warning mr-2" *ngIf="!element.active" (click)="updateactiveGroupe(true)">
            <span class="badge badge-warning" style="font-size: 12px;"> {{element.active ?
              "Actived": "Pending"}}
            </span>
          </button>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="confirmed">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Confirmed</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button class="badge badge-warning mr-2" *ngIf="element.confirmed"
            (click)="updateconfirmedGroupe(false)">
            <span class="badge badge-success" style="font-size: 12px;"> {{element.confirmed ? "Confirmed" : "Pending"}}
            </span>
          </button>
          <button mat-icon-button class="badge badge-warning mr-2" *ngIf="!element.confirmed"
            (click)="updateconfirmedGroupe(true)">
            <span class="badge badge-warning" style="font-size: 12px;"> {{element.confirmed ?
              "Confirmed": "Pending"}}
            </span>
          </button>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="deleted">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Deleted</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button class="badge badge-danger mr-2" *ngIf="element.deleted"
            (click)="updatedeletedGroupe(false)">
            <span class="badge badge-danger" style="font-size: 12px;"> {{element.deleted ? "Deleted" : "Pending"}}
            </span>
          </button>
          <button mat-icon-button class="badge badge-warning mr-2" *ngIf="!element.deleted"
            (click)="updatedeletedGroupe(true)">
            <span class="badge badge-warning" style="font-size: 12px;"> {{element.deleted ?
              "Deleted": "Pending"}}
            </span>
          </button>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="createdDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Created At</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.createdDate  | date:'short'}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="lastModifiedDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Last Modified At</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.lastModifiedDate  | date:'short'}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div></div>
          <div></div>
          <button mat-icon-button (click)="onEditGroupe(row)">
            <mat-icon>edit_outline</mat-icon>
          </button>
          <button mat-icon-button (click)="ViewGroupe(row)">
            <mat-icon>list</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon  (click)="onDeleteGroupe(row.id)">delete_forever</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="loading">
        <mat-footer-cell *matFooterCellDef colspan="6">
          Loading data....
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="nodata">
        <mat-footer-cell *matFooterCellDef colspan="6">
          NO data....
        </mat-footer-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':datasource!=null}"></mat-footer-row>
      <mat-footer-row *matFooterRowDef="['nodata']"
        [ngClass]="{'hide': !(datasource!=null && datasource.data.length==0)}"></mat-footer-row>
    </table>
    <br>
    <mat-paginator [pageSizeOptions]="[ 5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
  </div>
</div>

<br>





































<!--<div class="table-responsive">
        <table class="table table-hover">
          <thead >
              <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Contact Number</th>
            <th>Email</th>
        </tr>
          </thead>
          <tbody>
          <tr>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td><mat-icon >edit</mat-icon><mat-icon >delete</mat-icon></td>
         </tr>
          <tr>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
        
          </tr>
          <tr>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
        
          </tr>
        </tbody>
        </table>
    </div>-->