<br><br><br>
<div id="wrapper">
  <div class="content-page">
    <div class="content">
      <div class="col-xl-12">
        <div class="card m-b-30">
          <div class="card-body">
            <fieldset class="container">
              <h3>Active Slides List </h3>
              <mat-progress-bar mode="determinate" value="18"></mat-progress-bar><br><br>
              <div class="container">
                <form class="example-form">
                  <input type="file"
                  id="file"
                  (change)="onSelectFile($event)"/> <br> <br>
                  <section> </section>
                  <button mat-raised-button color="primary" style="width: 100px;"(click)="onUploadFile()">Save</button>
                </form>
              </div>
           </fieldset>
          </div>
        </div>
      </div>
      <br>
      <!----<div class="col-xl-12">
        <div class="card m-b-30">
            <div class="card-body">
      <fieldset class="container">
        <h3>Suspended Slides List</h3> 
        <mat-progress-bar mode="determinate" value="25"></mat-progress-bar><br><br>
        <div class="container">
      </div>
      </fieldset>
    </div>
  </div>
  </div>-->
      <div class="col-xl-12">
        <div class="card m-b-30">
          <div class="card-body">
            <fieldset class="container">
              <h3>Configuration</h3>
              <mat-progress-bar mode="determinate" value="16"></mat-progress-bar><br><br>
              <div class="container">
                <section class="example-section">
                  <mat-checkbox class="example-margin">Enable the display of title, subtitle, and button ?
                  </mat-checkbox>
                </section><br>
                <label for="">Slides speed in seconds*</label> <br>
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Slides speed</mat-label>
                  <input type="number" matInput>
                </mat-form-field>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>