<br><br><br>
<div id="wrapper">

<!-- END ROW -->
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">
            <!-- START ROW -->
            <div class="col-xl-12">
                <div class="card m-b-30">
                    <div class="card-body">
              <fieldset class="container" >
                <h3>Section title front office side</h3> <br>
               <mat-progress-bar mode="determinate" value="30"></mat-progress-bar><br><br>
                <div class="container">
                  <form class="example-form">  
                    <label for=""> Titre de la page latérale du front office</label> <br>       
                    <mat-form-field class="example-full-width" style="width: 500px;" appearance="fill">
                      <textarea matInput  ></textarea>
                    </mat-form-field> <br>
                    <button mat-raised-button color="primary" style="width: 100px;">Save</button>
                  </form>
        
                </div>
              </fieldset>
            </div>
          </div>
        </div>
<div class="row" >
    <div class="col-xl-8">
        <div class="card m-b-40" >
            <div class="card-body">
            <div class="row"> 
                <h4  class="col mt-0 header-title mb-4">Active news list</h4> <br>
                <mat-progress-bar mode="determinate" value="30"></mat-progress-bar><br><br>
                
                <a  class="col btn btn-outline-success" style="width: 10px;" href=""><span class='material-icons'>add</span>Ajouter un utilisateur</a>
            </div>
                <div class="table-responsive"  >
                    <table class="table table-hover" >
                        <div >
                        <thead>
                            <tr>
                                <th scope="col">Title</th>
                                <th scope="col">Tags</th>
                                <th scope="col">Creation Date</th>
                                <th scope="col">Date News</th>
                                <th scope="col" colspan="2">Actions</th>


                            </tr>
                        </thead>
                        <tbody >
                            <tr>
                                <td>f</td>

                                <td><span >g</span></td>
                                <td>g</td>
                                <td>g</td>

                                <td>
                                    <div>
                                        <a href=""><span class='material-icons'>edit</span></a>
                                        <a href=""><span class='material-icons'>delete</span></a>
                                    </div>
                                </td>
                                
                            </tr>
                           
                        </tbody>
                    </div>
                    </table>
                </div>

            </div>
        </div>
    </div>
    
</div>
            
        </div>
        <!-- container-fluid -->

    </div>
    <!-- content -->



</div>