<br><br><br>
<div id="wrapper">
  <div class="content-page">
    <div class="content">
      <form class="form p-3" [formGroup]="revendeur" id="revendeur">
        <h4> Front office side section title</h4>
        <mat-progress-bar mode="determinate" value="24"></mat-progress-bar><br><br>
        <div class="card card-fullheight">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <label>Tilte Front Office *</label><br>
                <input type="text" formControlName="title" placeholder="title" class="form-control ">
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-md-12 col-sm-12 ">
                <button mat-flat-button class="float-right" color="primary" (click)="save()">
                  <mat-icon>save </mat-icon> save
                </button>
              </div>
            </div>
          </div>
        </div><br><br>
        <h5> Front office side Button title</h5>
        <mat-progress-bar mode="determinate" value="20"></mat-progress-bar><br><br>
        <div class="card card-fullheight">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <label> Question of button front office side *</label><br>
                <input type="text" formControlName="question" placeholder="question *" class="form-control ">
              </div>
              <div class="col-md-6 col-sm-6">
                <label> Text of buttom *</label><br>
                <input type="text" formControlName="textbutton" placeholder="text of button *" class="form-control ">
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-md-12 col-sm-12 ">
                <button mat-flat-button class="float-right" color="primary" (click)="save()">
                  <mat-icon>save </mat-icon> save
                </button>
              </div>
            </div>
          </div>
        </div>
        <br>
        <h4>Revendeur description</h4>
        <mat-progress-bar mode="determinate" value="20"></mat-progress-bar><br><br>
        <div class="card card-fullheight">
          <div class="card-body">
            <div class="col-md-12 col-sm-12 mt-5">
              <label>Revendeur text *</label><br>
              <ckeditor class="w-100 col-12" [config]='config' formControlName="description"></ckeditor>
            </div>
            <div class="row mt-5">
              <div class="col-md-12 col-sm-12 ">
                <button mat-flat-button class="float-right" color="primary" (click)="save()">
                  <mat-icon>save </mat-icon> save
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="content">
        <h3 for=""> Revendeurs List </h3>
        <mat-progress-bar color="gray" mode="determinate" value="15"></mat-progress-bar><br>
        <div class="card" style="width:100%;">
          <div class="container">
            <div class="search-div">
              <mat-form-field class="search-form-field" floatLabel="never">
                <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
                <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey"
                  (click)="onSearchClear()">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>&nbsp;&nbsp;&nbsp;
            </div>
          </div><br>
          <div class="table-responsive">
            <table mat-table #table [dataSource]="datasource" matSort>
              <ng-container matColumnDef="companyname">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Name/Companyname</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.companyname}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Email</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.email}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="revendeursStatus">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <button mat-icon-button [ngStyle]="{'font-size.px':13}" class="badge badge-warning mr-2"
                    (click)="updateRevendeurStatus(element)">
                    <span class="badge"
                      [ngClass]="{'badge-success' : element.revendeursStatus === 'ACCEPTED' , 'badge-warning' : element.revendeursStatus === 'PENDING' , 'badge-danger' : element.revendeursStatus === 'REJECTED'}">
                      {{element.revendeursStatus}}
                    </span>
                  </button>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="mobile">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Mobile</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.mobile}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="createdDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Created At</mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <mat-icon>query_builder</mat-icon>&nbsp;&nbsp;{{element.createdDate | date:'short'}}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="lastModifiedDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Last Modified At</mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <mat-icon>query_builder</mat-icon>&nbsp;&nbsp;{{element.lastModifiedDate | date:'short'}}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <div></div>
                  <div></div>
                  <button mat-icon-button>
                    <mat-icon color="warn" (click)="onDeleteRevendeur(row.id)">close</mat-icon>
                  </button>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="loading">
                <mat-footer-cell *matFooterCellDef colspan="12">
                  Loading data....
                </mat-footer-cell>
              </ng-container>
              <ng-container matColumnDef="nodata">
                <mat-footer-cell *matFooterCellDef colspan="12">
                  NO data....
                </mat-footer-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':datasource!=null }"></mat-footer-row>
              <mat-footer-row *matFooterRowDef="['nodata']"
                [ngClass]="{'hide': !(datasource!=null && datasource.data.length===0)}"></mat-footer-row>
            </table>
            <br>
            <mat-paginator [pageSizeOptions]="[ 5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>