<!-- START PRELOADER -->
<div class="preloader">
    <div class="status">
        <div class="status-mes">
            <div class="loader">
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__ball"></div>
            </div>
        </div>
    </div>
</div>	
	<!-- Start Slider Area -->
    <section id="slider_area">
        <div >

            <div class="slider_item3 single_slide text-right">
                <div class="container">
                    <div class="single-slide-item-table">
                        <div class="single-slide-item-tablecell">
                            <div class="slider_content slider-animated-3">
                                <h2 class="animated"> <span>Contact</span> Us</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Slider Area -->
    
    
 <!-- Start Contact Area -->
 <section id="contact_area" class="contact_area section_padding bg_white">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12 text-center wow fadeIn" data-wow-delay=".1s">
                <div class="section_title">
                    <img width="300px" height="300px" src="../../assets/img/cont.gif" alt="" srcset="">
                    <h2>Contact <span>Us</span></h2>
                    <div class="sec_divider"></div>
                    <p>Con la compilazione del presente modulo si ha diritto, senza alcun impegno, a ricevere maggiori informazioni in relazione ai nostri prodotti. Inoltre Le potranno essere inviate, sempre a titolo gratuito, anche le versioni dimostrative dei prodotti che Le interessano.
                    </p>
                </div>
            </div>
        </div>  
        <div class="row"> 					
            <div class="col-sm-8 col-xs-12 center-block">
                <div class="cform_box">
                    <!-- comment-form -->
                    <form id="contact-form" method="post" action="https://getmasum.com/html-preview/passion/passion/contact.php" enctype="multipart/form-data">
                        <div id="main_form">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">      
                                        <input name="name" id="name" type="text" placeholder="Cognome/Nome o società *" class="form-control">   
                                    </div>
                                </div><!-- End Col -->  	
                                
                                <div class="col-sm-6">
                                    <div class="form-group">      
                                        <input name="email" id="email" type="email" placeholder="Referente" class="form-control">    
                                    </div>
                                </div><!-- End Col -->  
                                <div class="col-sm-6">
                                    <div class="form-group">      
                                        <input name="name" id="name" type="text" placeholder="Email *" class="form-control">   
                                    </div>
                                </div><!-- End Col -->  	
                                
                                <div class="col-sm-6">
                                    <div class="form-group">      
                                        <input name="email" id="email" type="email" placeholder="Telefono *" class="form-control">    
                                    </div>
                                </div><!-- End Col -->  
                                <div class="col-sm-6">
                                    <div class="form-group">      
                                        <input name="name" id="name" type="text" placeholder="Fax" class="form-control">   
                                    </div>
                                </div><!-- End Col -->  	
                                
                                <div class="col-sm-6">
                                    <div class="form-group">      
                                        <input name="email" id="email" type="email" placeholder="CAP" class="form-control">    
                                    </div>
                                </div><!-- End Col -->  
                                <div class="col-sm-6">
                                    <div class="form-group">      
                                        <input name="name" id="name" type="text" placeholder="Comune" class="form-control">   
                                    </div>
                                </div><!-- End Col -->  	
                                
                                <div class="col-sm-6">
                                    <div class="form-group">      
                                        <input name="email" id="email" type="email" placeholder="Provincia" class="form-control">    
                                    </div>
                                </div><!-- End Col -->  
                                
                                <div class="col-xs-12">	
                                    <div class="form-group">      
                                        <input name="subject" id="subject" type="text" placeholder="Indirizzo" class="form-control">   
                                    </div>
                                </div><!-- End Col -->  	
                                
                                <div class="col-xs-12">
                                    <div class="form-group">                  
                                        <textarea name="message" id="comments" placeholder="Commenti o richieste aggiuntive *" class="form-control" ></textarea>						 
                                    </div>
                                </div><!-- End Col -->  	
                            
                                <div class="col-xs-12">
                                    <div class="form_btn text-center">
                                        <input name="submit" id="submit" value="Send message" class="btn main_bg_btn fbb_btn" type="submit">
                                    </div>
                                </div> <!-- End Col -->  
                            </div>
                        </div>
                    </form> 
                    <!-- comment-form-end end -->  
                </div>
            </div>
        </div>
    </div>
</section>	
<!-- End Contact Area -->
        <footer id="footer_area">
        <div class="container">	
            <div class="row">							
                <div class="col-sm-6">
                    <div class="copyright">
                        <p>&copy; 2022 All Rights Reserved <a href="#">Passion</a></p>
                    </div>			
                </div>
                
                <div class="col-sm-6">
    
                    <div class="ftr_social_list">
                        <ul class="navbar-right">
                            <li><a href="#" class="f_facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="f_twitter"><i class="fa fa-twitter" ></i></a></li>
                            <li><a href="#" class="f_linkedin"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#" class="f_youtube"><i class="fa fa-youtube"></i></a></li>
                            <li><a href="#" class="f_google"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>						
                </div>					
            </div>
        </div><!-- /.container-fluid -->
    </footer>