<!-- START PRELOADER -->
<div class="preloader">
    <div class="status">
        <div class="status-mes">
            <div class="loader">
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__ball"></div>
            </div>
        </div>
    </div>
</div>
<!-- Start Slider Area -->
<section id="slider_area">
    <div class="slider_active owl-carousel">
        <div class="slider_item1 single_slide">
            <div class="container">
                <div class="single-slide-item-table">
                    <div class="single-slide-item-tablecell">
                        <div class="slider_content slider-animated-1">
                            <h2 class="animated"> <span>Advanced</span> Software <span>Solutions</span> </h2>
                            <br>
                            <a href="#" class="animated btn main_bg_btn">learn more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider_item2 single_slide">
            <div class="container">
                <div class="single-slide-item-table">
                    <div class="single-slide-item-tablecell">
                        <div class="slider_content text-center slider-animated-2">
                            <h2 class="animated"> <span>E-Commerce </span> Click&Collect</h2>
                            <span class="sl_heading animated">The online showcase for your business</span>
                            <br>
                            <a href="#" class="animated btn main_bg_btn">learn more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider_item3 single_slide text-right">
            <div class="container">
                <div class="single-slide-item-table">
                    <div class="single-slide-item-tablecell">
                        <div class="slider_content slider-animated-3">
                            <h2 class="animated"> <span>Foodmanager the </span>Software software </h2>
                            <span class="sl_heading animated">for your Food outlets</span>
                            <br>
                            <a href="#" class="animated btn main_bg_btn">learn more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider_active owl-carousel">
            <div class="slider_item4 single_slide">
                <div class="container">
                    <div class="single-slide-item-table">
                        <div class="single-slide-item-tablecell">
                            <div class="slider_content slider-animated-1">
                                <h2 class="animated"> The software<span> solution </span> for your <span>business</span>
                                </h2>
                                <span class="sl_heading animated">Magazine, Accounting, Invoicing</span>
                                <br>
                                <a href="#" class="animated btn main_bg_btn">learn more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


<!-- Start Contact Area -->
<section id="contact_area" class="contact_area section_padding bg_white">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12 text-center wow fadeIn" data-wow-delay=".1s">
                <div class="section_title">
                    <!--<img width="300px" height="300px" src="../../assets/img/cont.gif" alt="" srcset="">-->
                    <h2>Contact <span>Us</span></h2>
                    <div class="sec_divider"></div><br>

                    <p>By completing this form you have the right, without any commitment, to receive more information
                        in relation to our products. In addition, demonstration versions of the products you are
                        interested in may also be sent free of charge.
                    </p>
                </div>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-sm-4">
                <div class="single_contact_info" style="height: 225px;">
                    <p>
                        <a style="text-decoration: none !important;" href="tel:+3909411935133"><i
                                class="fa fa-phone"></i> <span class="hidden-xs hidden-sm"><br>
                                +3909411935133</span></a><br />
                    </p>
                </div>
            </div>
            <!--End Col-->



            <div class="col-sm-4">
                <div class="single_contact_info" style="height: 225px;">
                    <a href="http://maps.google.com?q=Via Consolare Antica, 308, Capo d'Orlando, ME, Italia"
                        target="blank"><i class="fa fa-map"></i>

                        <p>Igesa Srl - Via Consolare Antica <br />
                            308 - 98071 Capo d'Orlando (ME) - C.F./P.IVA </p>
                    </a>

                </div>
            </div>
            <!--End Col-->
            <div class="col-sm-4">
                <div class="single_contact_info" style="height: 225px;">
                    <p>
                        <a style="text-decoration: none !important;" href="mailto:commerciale@igesa.it"><i
                                class="fa fa-envelope"></i> <span class="hidden-xs hidden-sm"><br>
                                commerciale@igesa.it</span></a>
                    </p>
                </div>
            </div>
            <!--End Col-->
        </div>
        <div class="row">
            <div class="col-sm-8 col-xs-12 center-block">
                <div class="cform_box">
                    <form [formGroup]="contactService.form" class="normal-form" (submit)="onSubmit()">
                        <div id="main_form">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input formControlName="companyname" type="text"
                                            placeholder=" Cognome/Nome or company *" class="form-control" required>
                                    </div>
                                    
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input formControlName="referent"  class="form-control" placeholder="referent">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input formControlName="email" type="email" placeholder=" Email *" required
                                            class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input formControlName="mobile" placeholder=" Mobile *" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input formControlName="nationality" type="text" placeholder="nationality"
                                            class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input formControlName="fax" placeholder="Fax" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input formControlName="adresse" type="text" placeholder="adresse"
                                            class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                <div class="form-group">
                                        <mat-select class="form-control" placeholder="Software Used" formControlName="productId">
                                            <mat-option *ngFor="let product of productServices" [value]="product.id">
                                                {{product.title}}
                                            </mat-option>
                                        </mat-select>
                                       </div>
                                    </div>
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <textarea formControlName="message"
                                            placeholder=" let your message here *"
                                            class="form-control"></textarea>
                                    </div>
                                </div><!-- End Col -->

                                <div class="col-xs-12">
                                    <div class="form_btn text-center">
                                        <button class="btn btn-info btn-rounded"  type="submit"> send</button>
                                    </div>
                                </div> <!-- End Col -->
                            </div>
                        </div>
                    </form>
                    <!-- comment-form-end end -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Area -->