

<mat-spinner style="margin-left: 560px; width:100px;" *ngIf="showspinner" color="primary"></mat-spinner>
<button class="float-right" mat-fab color="gray" (click)="onCreateCategory()" *ngIf="!showspinner">
  <mat-icon>add</mat-icon>
</button>&nbsp;&nbsp;
<br><br>
 <div class="row" *ngIf="!showspinner"> 
    <div class="col-xs-6 col-md-3" *ngFor="let category of listCategory">
      <div class="card">
        <div class="wrapper">
          <img class="card-img-top img-fluid" class="card-img-top" src="{{category.image}}">
          </div><br>
          <div class="card-body">
            <mat-icon>schedule</mat-icon> {{category.createdDate | date:'short'}} <div class="float-right">
            <button mat-icon-button  (click)="onEditCategory(category)" ><mat-icon>edit_outline</mat-icon></button>&nbsp;&nbsp;
            <button mat-icon-button><mat-icon color="warn" (click)="onDeleteCategory(category.id)">close</mat-icon>
         </button>
      </div>
      <br><br>
    </div>
  </div>
</div>
<br><br>
</div>
