<br><br>
<div class="content-page">
  <!-- Start content -->
  <div class="content">
    <div class="container">
      <h2 for=""> Entreprise List </h2>
      <mat-progress-bar color="gray" mode="determinate" value="18"></mat-progress-bar><br>
        <app-entreprise-list></app-entreprise-list><br><br><br>
    </div>
  </div>
</div>