<br><br><br>
<div class="container">
  <div class="search-div">
<button color="primary" class="float-right" mat-fab  (click)="onCreateEntreprise()">
  <mat-icon>add</mat-icon>
</button>&nbsp;&nbsp;
</div>
</div>
<br><br>
<div class="card" style="width:100%;"><br>
  <div class="container">
    <div class="search-div">
      <mat-form-field class="search-form-field" floatLabel="never">
        <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>&nbsp;&nbsp;&nbsp;
      <button mat-fab color="gray">
        <mat-icon color="warn" style="font-size: 20px;"> close </mat-icon>
      </button>
    </div>
  </div><br>   
  <div class="table-responsive">
    <table mat-table #table [dataSource]="datasource" matSort>
      <ng-container matColumnDef="companyname">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Company Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.companyname}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="codefiscale">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Fiscal Code</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.codefiscale}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.email}} </mat-cell>
      </ng-container>
      <!--<ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Phone</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.phone}} </mat-cell>
      </ng-container>-->
      <!--<ng-container matColumnDef="fax">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Fax</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.fax}} </mat-cell>
      </ng-container>-->
      <ng-container matColumnDef="createdDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Created At</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.createdDate  | date:'short'}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="lastModifiedDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Last Modified At</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.lastModifiedDate  | date:'short'}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button (click)="onEditEntreprise(row)">
            <mat-icon>edit_outline</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon color="warn" (click)="onDeleteEntreprise(row.id)">delete_forever</mat-icon>
          </button>
          <button mat-icon-button (click)="ViewEntreprise(row)">
            <mat-icon>list</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="loading">
        <mat-footer-cell *matFooterCellDef colspan="6">
          Loading data....
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="nodata">
        <mat-footer-cell *matFooterCellDef colspan="6">
          NO data....
        </mat-footer-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      <mat-footer-row  *matFooterRowDef="['loading']" [ngClass]="{'hide':datasource!=null}"></mat-footer-row>
      <mat-footer-row *matFooterRowDef="['nodata']"
        [ngClass]="{'hide': !(datasource!=null && datasource.data.length==0)}"></mat-footer-row>
    </table>
    <br>
    <mat-paginator [pageSizeOptions]="[ 5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
  </div>
</div>
<br>