<br><br>
<div class="content-page">
  <!-- Start content -->
  <div class="content">
    <div class="container">
      <h2 for=""> Company Business </h2>
      <mat-progress-bar mode="determinate" value="25"></mat-progress-bar><br>
        <app-company-list></app-company-list><br><br><br><br>
    </div>
  </div>
</div>