<br><br><br>
<div id="wrapper">
  <div class="content-page">
    <!-- Start content -->
    <div class="content">
      <div class="col-xl-12">
        <div class="card m-b-30">
          <div class="card-body">
            <fieldset class="container">
              <h3>Section title front office side</h3>
              <mat-progress-bar mode="determinate" value="40"></mat-progress-bar><br><br><br>
              <div class="container">
                <form class="example-form">
                  <div class="mb-3">
                    <input type="text" class="form-control" id="exampleFormControlInput1" >
                  </div>
                  <br>
                  <button mat-raised-button color="primary" style="width: 100px;">Save</button><br>
                </form>
              </div>
              <br><br><br>
            </fieldset>
          </div>
        </div>
      </div>
      <br>
      <br>
      <div class="col-xl-12">
        <div class="card m-b-30">
          <div class="card-body">
            <fieldset class="container">
              <h3>Privacy Policy text</h3> <br>
              <mat-progress-bar mode="determinate" value="40"></mat-progress-bar><br><br><br>
              <div class="container">
                <form>
                  <angular-editor [(ngModel)]="htmlContent" [config]="config"></angular-editor>
                  <div class="html">
                    {{ htmlContent }}
                  </div>
                </form> <br> <br>
                <button mat-raised-button color="primary" style="width: 100px;">Save</button>
                &nbsp;&nbsp;
                <button mat-raised-button color="warn" style="width: 100px;">Canncel</button><br>
              </div>
              <br><br><br>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
    <!-- content -->
  </div>
</div>