<div class="container" style="width: 500px;">
    <mat-toolbar>
        <span>Role Details</span>
    </mat-toolbar><br>
    <div> <b> Name : </b> </div>
    <mat-progress-bar mode="determinate" value="15"></mat-progress-bar><br>
    <mat-toolbar>
        <span>{{role.name}} </span>
    </mat-toolbar>
    
   

    <mat-dialog-actions align="center">
        <button mat-button mat-dialog-close>CANCEL</button>
    </mat-dialog-actions><br>
</div>