
<div class="auth-wrapper">
  <div class="auth-content">
      <div class="auth-bg">
          <span class="r"></span>
          <span class="r s"></span>
          <span class="r s"></span>
          <span class="r"></span>
      </div>
<br><br>
<div class="col-md-12">
  <div class="card card-container">
    <img id="profile-img" src="https://www.igesa.it/assets/common/images/logo/1529316041.png" align="center" />
    <br><br><br>
    <form  name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
      <div class="form-group">
        <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required placeholder="username" #username="ngModel" />
        <div class="msg" role="alert" *ngIf="!(f.submitted )&& username.errors && username.touched && username.invalid">
          Username is required ❌
        </div>
        <div class="msg" role="alert" *ngIf="(f.submitted )&& username.errors && username.invalid">
          Username is required ❌
        </div>
      </div>
      <div class="form-group"> 
      <div class="input-group">
        <input type="password" class="form-control" [type]="fieldTextType ? 'text' : 'password'" name="password" [(ngModel)]="form.password" required minlength="6" placeholder="password" #password="ngModel" />
        <span class="input-group-text">
          <i
            class="fa"
            [ngClass]="{
              'fa-eye-slash': !fieldTextType,
              'fa-eye': fieldTextType }"
            (click)="toggleFieldTextType()"></i>
        </span>
        
      </div>
        <div class=" msg" role="alert" *ngIf=" !(f.submitted) && password.errors && password.touched && password.invalid">
          <div *ngIf="password.errors.required">Password is required ❌ </div></div>
          <div class=" msg" role="alert" *ngIf=" (f.submitted) && password.errors && password.invalid">
            <div *ngIf="password.errors.required ">Password is required ❌  </div>
        </div>
        <div class=" msg" role="alert" *ngIf=" !(f.submitted) && password.errors && password.invalid && password.touched">
        <div *ngIf="password.errors.minlength">
          Password must be at least 6 characters
        </div>
      </div>
      
      <small class="form-text text-right" ><a style="text-decoration: none;" routerLink="/forget-password" class="text-muted">forgot password? </a></small>
      </div> 
        <div class="g-recaptcha" data-sitekey="6Ley04sfAAAAAEISEbw0tEt73BI_3S16cBUn4gwt"></div>
          <div *ngIf="captchaError" class="error">Recaptcha not verified.</div>
    </div>
      <div class="form-group">
				<button class="btn btn-primary btn-block">Login</button>
			</div>
      <div class="flexbox mb-5">
        <small class="form-text text-right" ><a  style="text-decoration: none;" routerLink="/register" class="text-muted"> Don't have  an account? Signup</a></small>
        </div>
			<div class="form-group">
				<div class=" msg" role="alert" *ngIf="isLoginFailed " > Login failed : INVALID_CREDENTIALS  ❌ {{ errorMessage }}</div>
			</div>
		<!----<div class="flexbox mb-5">
				<div></div>
				<small class="form-text text-right"><a routerLink="/register" class="text-muted"> Don't have an account? Signup</a></small>
			  </div>--->
			<div class="d-flex justify-content-between align-items-center  mt-3">&nbsp;
				<div class="version">
				  V 0.0.1
        </div>
          <div class="languages">
            <a style="text-decoration: none;" href="javascript:;" >English</a>
            <a style="text-decoration: none;" href="javascript:;" >Français</a>
            <a style="text-decoration: none;" href="javascript:;" >Italian</a>
          </div>
          </div>
  <br>
    </form>

  </div>
</div>
