<br><br><br>

<div id="wrapper">
    <div class="content-page">
        <div class="content">
            <form class="form p-3" id="">
                <h4> Front office side section title</h4>
                <mat-progress-bar mode="determinate" value="22.5"></mat-progress-bar><br><br>
                <div class="card card-fullheight">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <label>Tilte Front Office *</label><br>
                                <input type="text" formControlName="title" placeholder="title" class="form-control ">
                            </div>
                        </div>
                        <div class="row mt-5 float-right">
                            <div class="col-md-12 col-sm-12 ">
                                <button mat-flat-button color="primary"> <mat-icon>save</mat-icon> Save
                                </button>&nbsp;
                                <button mat-raised-button color="warn"><mat-icon>close</mat-icon> Canncel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <br><br><br>
            <div class="col-xl-12"> 
                <h3> Products List </h3>
                <mat-progress-bar mode="determinate" value="12"></mat-progress-bar><br><br><br>
                <div class="card m-b-30">

                    <div class="col-md-12 col-sm-12 "><br><br>
                        <button mat-flat-button color="primary"> <mat-icon>add</mat-icon> Add Product
                        </button>&nbsp;
                    </div>
                    <div class="card-body">
                        <div class="container">
                            <br><br><br>
                            <div class="row">
                                <div class="col-md-2 col-sm-6 ">
                                    <div class="box">
                                        <img src="../../assets/images/user-1.png ">
                                        <div class="box-content">
                                            <h3 class="title">Williamson</h3>
                                            <span class="post">Web designer</span>
                                        </div>
                                        <ul class="icon">
                                            <li><a href="#"><mat-icon>edit</mat-icon></a></li>
                                            <li><a href="#"><mat-icon>close</mat-icon></a></li>
                                            <li><a href="#"><i class="fa fa-link"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6">
                                    <div class="box">
                                        <img src="../../assets/images/user-1.png ">
                                        <div class="box-content">
                                            <h3 class="title">Williamson</h3>
                                            <span class="post">Web designer</span>
                                        </div>
                                        <ul class="icon">
                                            <li><a href="#"><mat-icon>edit</mat-icon></a></li>
                                            <li><a href="#"><mat-icon>close</mat-icon></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6">
                                    <div class="box">
                                        <img src="../../assets/images/user-1.png ">
                                        <div class="box-content">
                                            <h3 class="title">Williamson</h3>
                                            <span class="post">Web designer</span>
                                        </div>
                                        <ul class="icon">
                                            <li><a href="#"><mat-icon>edit</mat-icon></a></li>
                                            <li><a href="#"><mat-icon>close</mat-icon></a></li>
                                            <li><a href="#"><i class="fa fa-link"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6">
                                    <div class="box">
                                        <img src="../../assets/images/user-1.png ">
                                        <div class="box-content">
                                            <h3 class="title">Williamson</h3>
                                            <span class="post">Web designer</span>
                                        </div>
                                        <ul class="icon">
                                            <li><a href="#"><mat-icon>edit</mat-icon></a></li>
                                            <li><a href="#"><mat-icon>close</mat-icon></a></li>
                                            <li><a href="#"><i class="fa fa-link"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6">
                                    <div class="box">
                                        <img src="../../assets/images/user-1.png ">
                                        <div class="box-content">
                                            <h3 class="title">Williamson</h3>
                                            <span class="post">Web designer</span>
                                        </div>
                                        <ul class="icon">
                                            <li><a href="#"><mat-icon>edit</mat-icon></a></li>
                                            <li><a href="#"><mat-icon>close</mat-icon></a></li>
                                            <li><a href="#"><i class="fa fa-link"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6">
                                    <div class="box">
                                        <img src="../../assets/images/user-1.png ">
                                        <div class="box-content">
                                            <h3 class="title">Williamson</h3>
                                            <span class="post">Web designer</span>
                                        </div>
                                        <ul class="icon">
                                            <li><a href="#"><mat-icon>edit</mat-icon></a></li>
                                            <li><a href="#"><mat-icon>close</mat-icon></a></li>
                                            <li><a href="#"><i class="fa fa-link"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>