
		
		<!-- END PRELOADER -->
		
		<!-- Star Header Area -->		
		<header id="header">
			<div class="container">	
				<div class="row">			
					<div class="col-md-4 col-sm-3">
						<!-- Logo Area -->
						<div class="logo_area">
							 <a href="index.html"><img src="../../assets/img/igesa.png" alt="Logo" style="width: 41%;" /></a>
						</div>
						
						 <div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div> 
						
					</div>
				
					<!-- Main Menu Area -->
					<div class="col-md-13 col-sm-13">
						<nav id="main_menu" class="navbar-right">
							<div id="navbar" class="navbar-collapse collapse">
								<ul id="nav" class="nav navbar-nav">
									<li><a (click)="reloadPage()" routerLink="/home">Home</a></li>
									<li><a (click)="reloadPage()"  routerLink="/about">About</a></li>
									<li><a (click)="reloadPage()"   routerLink="/sellers">Our Sellers</a></li>
									<li><a (click)="reloadPage()"  routerLink="/products">Products</a></li>
									<li><a (click)="reloadPage()"  routerLink="/usefulllinks" >Usefull Links</a></li>	
									<li><a (click)="reloadPage()"  routerLink="/contact">Contact</a></li>
									
									<li>        
										<a routerLink="/login" *ngIf="!isLoggedIn"> 
											<i class="fa fa-lock"></i> Login / Register</a> 
										<a  *ngIf="isLoggedIn"> 
											<i class="fa fa-lock"></i> {{username}}
										</a> 
										<li *ngIf="isLoggedIn" class="dropdown notification-list list-inline-item">
											<a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#"
												role="button" aria-haspopup="false" aria-expanded="false"> {{username}} <span
													class="mdi mdi-chevron-down"></span>
											</a>
											<div class="dropdown-menu dropdown-menu-right profile-dropdown ">
												<!-- item-->
												<a class="dropdown-item" routerLink="/profile"><i class="mdi mdi-account-circle"></i> Profile</a>
												<a class="dropdown-item d-block" routerLink="/postulseller"><span
														class="badge badge-success float-right">11</span><i class="mdi mdi-settings"></i>
													Apply to be seller</a>
												<a class="dropdown-item text-danger" (click)="logout()"><i class="mdi mdi-power text-danger"></i>
													Logout</a>
											</div>
						
										</li>

									
									
								</ul>
							</div>
						</nav>
					</div>					
				</div>
			</div><!-- /.container-fluid -->
		</header>