
		
		<!-- END PRELOADER -->
		
		<!-- Star Header Area -->		
		<header id="header">
			<div class="container">	
				<div class="row">			
					<div class="col-md-4 col-sm-3">
						<!-- Logo Area -->
						<div class="logo_area">
							 <a href="index.html"><img src="../../assets/img/igesa.it.png" alt="Logo" style="width: 41%;" /></a>
						</div>
						
						 <div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div> 
						
					</div>
				
					<!-- Main Menu Area -->
					<div class="col-md-8 col-sm-9">
						<nav id="main_menu" class="navbar-right">
							
							<div id="navbar" class="navbar-collapse collapse">
								<ul id="nav" class="nav navbar-nav">
									<li><a href="index.html">Home</a></li>
									<li><a href="#about_area">About</a></li>
									<li><a href="#work_area">Works</a></li>
									<li><a href="#team_area">Team</a></li>
									<li><a href="#service_area">Services</a></li>	
									<li><a href="#testimonial_area">testimonials</a></li>
									<li><a href="#blog_area">Blog</a></li>
									<li><a href="#contact_area">Contact</a></li>
								</ul>
							</div>
						</nav>
					</div>					
				</div>
			</div><!-- /.container-fluid -->
		</header>