<div class="auth-wrapper">
  <div class="auth-content">
    <div class="auth-bg">
      <span class="r"></span>
      <span class="r s"></span>
      <span class="r s"></span>
      <span class="r"></span>
    </div>
    <br><br>
    <div class="container ">
      <div class="col-md-12">
        <div class="card card-container">
          <img id="profile-img" src="https://www.igesa.it/assets/common/images/logo/1529316041.png" /><br><br>
          <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <div class="form-group">
              <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required
                placeholder="username" minlength="3" maxlength="20" #username="ngModel" />
              <div class="msg" *ngIf="  (!f.submitted) && username.errors && username.invalid  && username.touched ">
                <div *ngIf="username.errors.required">Username is required</div>
                <div *ngIf="username.errors.minlength">
                  Username must be at least 3 characters
                </div>
                <div *ngIf="username.errors.maxlength">
                  Username must be at most 20 characters
                </div>
              </div>
            </div>
            <div class="form-group">
              <input type="email" class="form-control" name="email" [(ngModel)]="form.email" required email
                placeholder="email" #email="ngModel" />
              <div class="msg" *ngIf="email.errors && (!f.submitted)  && email.invalid  && email.touched">
                <div *ngIf="email.errors.required">Email is required</div>
                <div *ngIf="email.errors.email">
                  Email must be a valid email address
                </div>
              </div>
            </div>
            <div class="form-group">
              <input type="fiscaleCode" class="form-control" name="fiscaleCode" [(ngModel)]="form.fiscaleCode"
                placeholder=" fiscale code" required fiscaleCode #fiscaleCode="ngModel" />
              <div class="msg"
                *ngIf="fiscaleCode.errors && (!f.submitted)  && fiscaleCode.invalid  && fiscaleCode.touched">
                <div *ngIf="fiscaleCode.errors.required">FiscaleCode is required</div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <input type="password" class="form-control" [type]="fieldTextType ? 'text' : 'password'" name="password"
                  [(ngModel)]="form.password" required minlength="6" placeholder="password" #password="ngModel" />
                <span class="input-group-text">
                  <i class="fa" [ngClass]="{
                        'fa-eye-slash': !fieldTextType,
                        'fa-eye': fieldTextType }" (click)="toggleFieldTextType()"></i>
                </span>

              </div>
              <div class="msg" *ngIf="password.errors && (!f.submitted) && password.invalid  && password.touched">
                <div *ngIf="password.errors.required">Password is required</div>
                <div *ngIf="password.errors.minlength">
                  Password must be at least 6 characters
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <input type="password" class="form-control" placeholder="confirm password" name="matchingPassword"
                  placeholder=" confirm password" [(ngModel)]="form.matchingPassword" required
                  #matchingPassword="ngModel" />
                <span class="input-group-text">
                  <i class="fa" [ngClass]="{
                        'fa-eye-slash': !fieldTextType,
                        'fa-eye': fieldTextType }" (click)="toggleFieldTextType()"></i>
                </span>
              </div>
                <div class="msg"
                  *ngIf="(!f.submitted) &&  matchingPassword.errors && matchingPassword.invalid  &&  matchingPassword.touched">
                  <div *ngIf="matchingPassword.errors.required">Confirm Password is required</div>
                </div>
                
              </div>
              <div class="form-group">
                <button class="btn btn-primary btn-block" [disabled]="!f.form.valid">Sign Up</button>
              </div>
              <div class="flexbox mb-5">
                <small class="form-text text-right" ><a style="text-decoration: none;" routerLink="/login" class="text-muted"> alreday have an account?
                    Signin</a></small>
              </div>
              <div class="d-flex justify-content-between align-items-center  mt-3">
                <div class="version">
                  V 0.0.1
                </div>
                <div class="languages">
                  <a style="text-decoration: none;" href="javascript:;">English</a>
                  <a style="text-decoration: none;" href="javascript:;">Français</a>
                  <a style="text-decoration: none;" href="javascript:;">italien</a>
                </div>
              </div>

              <div class="msg" *ngIf="f.submitted && isSignUpFailed">
                Signup failed !<br />{{ errorMessage }}
              </div>
          </form>

          <!---<div class="alert alert-success" *ngIf="isSuccessful">
              Your registration is successful!
            </div>--->
        </div>
      </div>

    </div>