<!-- START PRELOADER -->
<div class="preloader">
    <div class="status">
        <div class="status-mes">
            <div class="loader">
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__ball"></div>
            </div>
        </div>
    </div>
</div>	
		<!-- Start Slider Area -->
        <section id="slider_area">
            <div class="slider_active owl-carousel">
                <div class="slider_item1 single_slide">
                    <div class="container">	
                        <div class="single-slide-item-table">
                            <div class="single-slide-item-tablecell">
                                <div class="slider_content slider-animated-1">
                                    <span class="sl_heading animated">welcome to our</span>
                                    <h2 class="animated"> <span>Awesome</span> World</h2>
                                    <p class="animated">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mattis congue ipsum eu ultricies  Vivamus <br />  viverra tortor tincidunt placerat eleifend  Nulla</p>
                                    <a href="#" class="animated btn main_bg_btn">learn more</a>
                                </div>	
                            </div>
                        </div>						
                    </div>
                </div>
                
                <div class="slider_item2 single_slide">
                    <div class="container">		
                        <div class="single-slide-item-table">
                            <div class="single-slide-item-tablecell">
                                <div class="slider_content text-center slider-animated-2">
                                    <span class="sl_heading animated">we are</span>
                                    <h2 class="animated"> <span>Creative</span> Agency</h2>
                                    <p class="animated">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mattis congue ipsum eu ultricies  Vivamus <br />  viverra tortor tincidunt placerat eleifend  Nulla</p>
                                    <a href="#" class="animated btn main_bg_btn">learn more</a>
                                </div>	
                            </div>
                        </div>	
                    </div>
                </div>
    
                <div class="slider_item3 single_slide text-right">
                    <div class="container">
                        <div class="single-slide-item-table">
                            <div class="single-slide-item-tablecell">
                                <div class="slider_content slider-animated-3">
                                    <span class="sl_heading animated">we also do</span>
                                    <h2 class="animated"> <span>Positive</span> Thinking</h2>
                                    <p class="animated">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mattis congue ipsum eu ultricies  Vivamus <br />  viverra tortor tincidunt placerat eleifend  Nulla</p>
                                    <a href="#" class="animated btn main_bg_btn">learn more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider_active owl-carousel">
                    <div class="slider_item4 single_slide">
                        <div class="container">	
                            <div class="single-slide-item-table">
                                <div class="single-slide-item-tablecell">
                                    <div class="slider_content slider-animated-1">
                                        <span class="sl_heading animated">welcome to our</span>
                                        <h2 class="animated"> <span>Awesome</span> World</h2>
                                        <p class="animated">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mattis congue ipsum eu ultricies  Vivamus <br />  viverra tortor tincidunt placerat eleifend  Nulla</p>
                                        <a href="#" class="animated btn main_bg_btn">learn more</a>
                                    </div>	
                                </div>
                            </div>						
                        </div>
                    </div>
                    </div>
            </div>
            
        </section><br><br><br><br>
        <!-- End Slider Area -->
    <!-- Start About Area -->
    <section id="about_area" class="section_padding bg_white">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-xs-12 text-center wow fadeIn" data-wow-delay=".1s">
                    <div class="section_title">
                        <h2>About <span>Us</span></h2>
                        <div class="sec_divider"></div>
                    </div>
                </div>
            </div>
                
            <div class="row">
						
                
				
                <div class="container">
                    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
                    <div class="row">
                      <div class="col-md-8">
                        <h2 class="sl_heading animated">The company</h2> <br>
                       <p  > With over 25 years of experience in the field of IT and management software , Igesa offers IT solutions for small and medium-sized businesses, supermarkets, distribution centers, accountants and online stores. </p>
                         <br>
                       <p > The company also offers its customers an on-line and on-site help-desk service that carries out assistance, consultancy and support activities in warehouse management , accounting , billing and business intelligence , with the aim of guaranteeing solutions. able to respond to the specific needs of its customers. </p>
                          <br>
                       <p> In collaboration with its partners, Igesa offers its most demanding customers complete and integrated ERP solutions . </p>
                         </div>
                      <div class="col-6 col-md-4">

                        <br>
                        <img src="../../assets/img/counter-bg.jpg" alt="ss" srcset="">

                      </div>
                    </div>
                </div>
    
            </div>				
        </div>
    </section>
    <!-- End About Area -->
        