.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }



.controles-container{
    height: 100%;
    width: 100%;
    padding: 2%;    
}

.controles-container > * {
    width: 100%;
    }