<br><br>
<div class="content-page">
  <!-- Start content -->
  <div class="content">
    <div class="container">
      <h2 for=""> Products List </h2>
      <mat-progress-bar mode="determinate" value="40"></mat-progress-bar><br>
        <app-pos-list></app-pos-list><br><br><br><br>
    </div>
  </div>
</div>