<div class="content-page">
  <!-- Start content -->
  <div class="content">
    <div class="col-xl-12">
      <div class="card m-b-30">
          <div class="card-body">
    <fieldset class="container" >
      <h1>Section title front office side</h1> <br>
      <div class="container">
        <form class="example-form">  
          <label for=""> Titre de la page latérale du front office</label> <br>       
          <mat-form-field class="example-full-width" style="width: 500px;" appearance="fill">
            <textarea matInput  ></textarea>
          </mat-form-field> <br>
          <button mat-raised-button color="primary" style="width: 100px;">Save</button>
        </form>

      </div>
    </fieldset>
  </div>
</div>
</div>
    <br>
    <div class="col-xl-12">
      <div class="card m-b-30">
          <div class="card-body">
    <fieldset class="container">
      <h1>Privacy Policy text</h1> <br>
      <div class="container">
      <label for="">Privacy Policy text</label> <br>
      <form >
        <mat-form-field  appearance="fill" style="width: 500px;">
          <mat-label>Leave a comment</mat-label>
          <textarea matInput style="height: 300px;"></textarea>
        </mat-form-field>
      </form>
      <button mat-raised-button color="primary" style="width: 100px;">Save</button>
      &nbsp;&nbsp;
      <button mat-raised-button color="warn" style="width: 100px;">Canncel</button>

    </div>
    </fieldset>
  </div>
</div>
</div>


  </div>
  <!-- content -->



</div>