<br><br><br>
<div class="card" style="width:100%;"><br>
<div class="container">
<div class="search-div">
 <mat-form-field class="search-form-field" floatLabel="never">
  <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
  <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey"  (click)="onSearchClear()">
     <mat-icon>close</mat-icon>
   </button>
 </mat-form-field>
</div>
  <div class="table-responsive">
    <table mat-table #table [dataSource]="datasource" matSort>
      <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef mat-sort-header >Username </mat-header-cell>
        <mat-cell *matCellDef="let element" >{{element.username}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.email}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="role">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Role </mat-header-cell>
        <mat-cell  *matCellDef="let element">
          <div *ngFor="let role of element.roles">
            {{role.name}}
          </div>
           </mat-cell>
      </ng-container>
      <ng-container matColumnDef="fiscaleCode">
        <mat-header-cell *matHeaderCellDef mat-sort-header >Fiscale Code</mat-header-cell>
        <mat-cell *matCellDef="let element" >{{element.fiscaleCode}}</mat-cell>
      </ng-container>      <ng-container matColumnDef="accountStatus">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button [ngStyle]="{'font-size.px':13}" class="badge badge-warning mr-2" (click)="updateaStatusAccount(element)">
            <span class="badge" [ngClass]="{'badge-success' : element.accountStatus === 'ACTIVE' , 'badge-warning' : element.accountStatus === 'PENDING' , 'badge-danger' : element.accountStatus === 'BLOCKED'}" > {{element.accountStatus}}
            </span>
          </button>
          </mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button (click)="onEdit(row)">
            <mat-icon>edit_outline</mat-icon>
          </button>&nbsp;&nbsp;
       
        <button mat-icon-button color="warn" (click)="onDelete(row.id)">
          <mat-icon>delete_outline</mat-icon>
        </button> </mat-cell>
      </ng-container>
      <ng-container matColumnDef="loading">
        <mat-footer-cell *matFooterCellDef colspan="6">
          Loading data....
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="nodata">
        <mat-footer-cell *matFooterCellDef colspan="6">
          NO data....
        </mat-footer-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':datasource!=null}"></mat-footer-row>
      <mat-footer-row *matFooterRowDef="['nodata']"
        [ngClass]="{'hide': !(datasource!=null && datasource.data.length==0)}"></mat-footer-row>
    </table>
    <br>
      <mat-paginator [pageSizeOptions]="[ 5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator></div>
</div>
</div>
<br> 