
   <div class="table-responsive">
        <table class="table table-hover">
          <thead >
              <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Contact Number</th>
            <th>Email</th>
        </tr>
          </thead>
          <tbody>
          <tr>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td><mat-icon >edit</mat-icon><mat-icon >delete</mat-icon></td>
         </tr>
          <tr>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
        
          </tr>
          <tr>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
        
          </tr>
        </tbody>
        </table>
    </div>
      