<!-- START PRELOADER -->
<div class="preloader">
    <div class="status">
        <div class="status-mes">
            <div class="loader">
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__ball"></div>
            </div>
        </div>
    </div>
</div>	
	<!-- Start Slider Area -->
    <section id="slider_area">
        <div >

            

            <div class="slider_item3 single_slide text-right">
                <div class="container">
                    <div class="single-slide-item-table">
                        <div class="single-slide-item-tablecell">
                            <div class="slider_content slider-animated-3">
                                <span class="sl_heading animated">About</span>
                                <h2 class="animated"> <span>Discover</span> Them</h2>
                                <p class="animated">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mattis congue ipsum eu ultricies  Vivamus <br />  viverra tortor tincidunt placerat eleifend  Nulla</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Slider Area -->
    
    
    <!-- Start About Area -->
    <section id="about_area" class="section_padding bg_white">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-xs-12 text-center wow fadeIn" data-wow-delay=".1s">
                    <div class="section_title">
                        <h2>Certified    <span>Dealers</span>     List</h2>
                        <div class="sec_divider"></div>
                    </div>
                </div>
            </div>
                
            <div class="row">
						
                
				
                <div class="container">
                    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
                    <div class="row">
                      <div class="col-md-8">
                      <p> With a view to expanding the distribution structure, Igesa is looking for resellers to improve coverage on the territory.</p> 

                       <p> Is required:</p>
                       <p> - A structure capable of carrying out adequate technical and commercial assistance on the customer base; </p>
                       <p>- In-depth technical knowledge of Windows, Mac OS X and Linux operating systems.</p>
                        
                       <p> They offer:</p>
                       <p> - Technologically competitive IT solutions; </p>
                       <p>- Technical-commercial and consultancy support</p>
                    </div>
                      <div class="col-6 col-md-4">

                    
                      </div>
                    </div>
                </div>
    
            </div>				
        </div>
    </section>
    <!-- End About Area -->
        <footer id="footer_area">
        <div class="container">	
            <div class="row">							
                <div class="col-sm-6">
                    <div class="copyright">
                        <p>&copy; 2022 All Rights Reserved <a href="#">Passion</a></p>
                    </div>			
                </div>
                
                <div class="col-sm-6">
    
                    <div class="ftr_social_list">
                        <ul class="navbar-right">
                            <li><a href="#" class="f_facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="f_twitter"><i class="fa fa-twitter" ></i></a></li>
                            <li><a href="#" class="f_linkedin"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#" class="f_youtube"><i class="fa fa-youtube"></i></a></li>
                            <li><a href="#" class="f_google"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>						
                </div>					
            </div>
        </div><!-- /.container-fluid -->
    </footer>