<!-- Start Slider Area -->
<section id="slider_area">
  <div>
    <div class="slider_item3 single_slide text-right">
      <div class="container">
        <div class="single-slide-item-table">
          <div class="single-slide-item-tablecell">
            <div class="slider_content slider-animated-3">
              <span class="sl_heading animated">Product details</span>
              <h2 class="animated"> <span>Discover</span> Them</h2>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="work_area" class="our_works_area section_padding section_gray">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-xs-12 text-center wow fadeIn" data-wow-delay=".1s">
        <div class="section_title">
          <h2> Product <span> Details</span></h2>
          <div class="sec_divider"></div>
        </div>
      </div>
    </div>
    <div class="row"><br>
      <div class="about_icon" align="center">
        <img [src]="product.image" style="width: 370px;">
      </div>
      <div class="about_content"><br>
        <h3 align="center">
          {{product.title}}
        </h3>
        <p align="center">
          {{product.name}}

        </p>
        <br><br>
      </div>
    </div>
    <div class="container p-3">
      <div class="row">
        <div class="col-12" [innerHTML]="product.caracteristique"></div>
      </div>
    </div><br><br>
    <div class="container p-3">
      <div class="row">
        <div class="col-12" [innerHTML]="product.requirements"></div>
      </div>
    </div>
  </div>
</section>