 <!-- ========== Left Sidebar Start ========== -->
 <div class="left side-menu">
    <div class="slimscroll-menu" id="remove-scroll">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu" id="side-menu">
                <li class="menu-title">Menu</li>
                <li>
                    <a href="#" class="waves-effect" >
                        <i class="icon-accelerator"></i><span class="badge badge-success badge-pill float-right"></span> <span> Tableau de bord </span>
                    </a>
                </li>
                <li>
                    <a href="#" class="waves-effect" routerLink="/users">
                        <i class="bi bi-people"></i><span class="icon-user"></span> <span> Users </span>
                    </a>
                </li>

                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="icon-mail-open"></i><span> Positionnement Web <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                    <ul class="submenu">
                        <li><a routerLink="/support">Supports</a></li>
                        <li><a href="#">Contacts</a></li>
                        <li><a href="#">Maison</a></li>
                        <li><a href="#">Actualité</a></li>
                        <li><a href="#">Liste des nouvelles</a></li>
                        <li><a href="#">Produits</a></li>
                        <li><a href="#">Liste des Produits</a></li>
                        <li><a href="#">La gestion</a></li>
                        <li><a href="#">Concessionnaires</a></li>
                        <li><a href="#">Qui sommes nous</a></li>
                        <li><a href="#">Liens utiles</a></li>
                        <li><a href="#">Base de données</a></li>
                        <li><a href="#">Biscuits</a></li>
                        <li><a href="#">Politique de confidentialité</a></li>

                    </ul>
                </li>

                <li>
                    <a href="calendar.html" class="waves-effect"><i class="icon-calendar"></i><span> Configurations générales </span></a>
                </li>

                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="icon-paper-sheet"></i><span> Maison  <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                    <ul class="submenu">
                        <li><a href="#">Diapositive Principale</a></li>
                        <li><a href="#">Texte de Bienvenue</a></li>
                        <li><a href="#">Liste des nouvelles</a></li>
                        <li><a href="#">Liste des logos clients</a></li>
                        <li><a href="#">Lister</a></li>


                    </ul>
                </li>
                <li>
                    <a href="calendar.html" class="waves-effect"><i class="icon-calendar"></i><span> Qui sommes nous </span></a>
                </li>
                <li>
                    <a href="calendar.html" class="waves-effect"><i class="icon-calendar"></i><span> La gestion </span></a>
                </li>
                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="icon-paper-sheet"></i><span> Lister  <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                    <ul class="submenu">
                        <li><a href="#">Diapositive Principale</a></li>
                        <li><a href="#">Texte de Bienvenue</a></li>
                        <li><a href="#">Liste des nouvelles</a></li>
                        <li><a href="#">Liste des logos clients</a></li>
                        <li><a href="#">Lister</a></li>


                    </ul>
                </li>
                <li>
                    <a href="calendar.html" class="waves-effect"><i class="icon-calendar"></i><span> Support </span></a>
                </li>
                <li>
                    <a href="calendar.html" class="waves-effect"><i class="icon-calendar"></i><span> Liens Utiles </span></a>
                </li>
                <li>
                    <a href="calendar.html" class="waves-effect"><i class="icon-calendar"></i><span> Base de données </span></a>
                </li>
                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="icon-paper-sheet"></i><span> Espace Client  <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                    <ul class="submenu">
                        <li><a href="#">Mises à jour</a></li>
                        <li><a href="#">FAQ</a></li>
                        


                    </ul>
                </li>
                <li>
                    <a href="calendar.html" class="waves-effect"><i class="icon-calendar"></i><span> Biscuits </span></a>
                </li>
                <li>
                    <a href="calendar.html" class="waves-effect"><i class="icon-calendar"></i><span> Politique de confidentialité </span></a>
                </li>


            </ul>

        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->