<mat-toolbar>
    <span>{{roleService.form.controls['id'].value?"Modify Groupe ":"New Groupe"}}</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
  </mat-toolbar><br><br>
    <form [formGroup]="roleService.form" class="normal-form" (submit)="onSubmit()" class="normal-form">
      <mat-grid-list cols="1" rowHeight="240px">
        <mat-grid-tile>
          <div class="controles-container">
            <input type="hidden" formControlName="id">
            <mat-form-field style="margin-left: 30px;">
              <input formControlName="name" matInput placeholder="name">
              <mat-error *ngIf="roleService.form.controls['name'].errors?.required">this field is mandatory.
              </mat-error>
            </mat-form-field>
            </div>
  
        </mat-grid-tile>
      </mat-grid-list>
      <div class="button-row" align="center">
        <button mat-raised-button color="primary" type="submit"
          [disabled]="roleService.form.invalid" (click)="refresh()">Save</button>
          <button mat-raised-button  mat-dialog-close> <mat-icon>close</mat-icon>Cancel</button>
        <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
    </div>
    </form>