<br><br><br>
<div id="wrapper">
  <div class="content-page">
    <!-- Start content -->
    <div class="content">
      <form class="form p-3" [formGroup]="assistance" id="assistance">
        <h4> Front office side section title</h4>
        <mat-progress-bar mode="determinate" value="22"></mat-progress-bar><br><br>
        <div class="card card-fullheight">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <label>Tilte Front Office *</label><br>
                <input type="text" formControlName="title" placeholder="title" class="form-control ">
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-md-12 col-sm-12 ">
                <button mat-flat-button class="float-right" color="primary" (click)="save()">save
                </button>
              </div>
            </div>
          </div>
        </div>
        <br><br><br>
        <h4>Customer Logo </h4>
        <mat-progress-bar mode="determinate" value="15"></mat-progress-bar><br><br>
        <div class="card card-fullheight">
          <div class="card-body">
            <div class="col-md-12 col-sm-12 mt-5">
              <label>Customer logo *</label><br>
              <ckeditor class="w-100 col-12" [config]='config' formControlName="htmlContent"></ckeditor>
            </div>
            <div class="row mt-5">
              <div class="col-md-12 col-sm-12 ">
                <button mat-flat-button class="float-right" color="primary" (click)="save()">save
                </button>&nbsp;
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<br>
<br>
<div class="col-xl-12">
  <div class="card m-b-30">
    <div class="card-body">
      <fieldset class="container">
        <h1>Active Slides List</h1> <br>
        <mat-progress-bar mode="determinate" value="30"></mat-progress-bar><br><br>
        <div class="container">
          <form class="example-form">
            <input type="file"> <br> <br>
            <section>
             </section>
            <button mat-raised-button color="primary" style="width: 100px;">Save</button>
          </form>
        </div>
      </fieldset>
    </div>
  </div>
</div>
