<div class="container" style="width: 500px;">
    <mat-toolbar>
      <span>Company Details</span>
      <span class="fill-remaining-space"></span>
    </mat-toolbar><br>
  
    <div > <b> Image  </b>  </div>
    <mat-progress-bar mode="determinate" value="25"></mat-progress-bar><br>
    <div></div>
    <mat-toolbar>
      <span>{{plateforme.image}} </span>
      <span class="fill-remaining-space"></span>
    </mat-toolbar>
    <br>
    <div> <b> Email  </b>   </div>
    <mat-progress-bar mode="determinate" value="25"></mat-progress-bar><br>
    <mat-toolbar>
    <span>{{plateforme.email}}</span>
    <span class="fill-remaining-space"></span>
  </mat-toolbar>
  <br>
  <div> <b> Phone  </b>   </div>
  <mat-progress-bar mode="determinate" value="25"></mat-progress-bar><br>
  <mat-toolbar>
  <span>{{plateforme.phone}}</span>
  <span class="fill-remaining-space"></span>
</mat-toolbar>
<br>
<div> <b> Adresse </b>   </div>
<mat-progress-bar mode="determinate" value="25"></mat-progress-bar><br>
<mat-toolbar>
<span>{{plateforme.adresse}}</span>
<span class="fill-remaining-space"></span>
</mat-toolbar>
<br>
<div> <b> Published : </b>   </div>
<mat-progress-bar mode="determinate" value="25"></mat-progress-bar><br>
<mat-toolbar>
<span>{{plateforme.published}}</span>
<span class="fill-remaining-space"></span>
</mat-toolbar>
    <mat-dialog-actions align="center">
      <button mat-button mat-dialog-close>CANCEL</button>
    </mat-dialog-actions>
    <br> <br>
  </div>