<div class="container" style="width: 500px;">
    <mat-toolbar>
        <span> Languages  Details</span>
    </mat-toolbar><br>
  
    <div> <b> Description : </b> </div>
    <mat-progress-bar mode="determinate" value="25"></mat-progress-bar><br>
    <mat-toolbar>
        <span>{{language.name}}</span>
    </mat-toolbar>
    <br>
    <div> <b> Description : </b> </div>
    <mat-progress-bar mode="determinate" value="25"></mat-progress-bar><br>
    <mat-toolbar>
        <span>{{language.code}}</span>
    </mat-toolbar>
    <br>


    <mat-dialog-actions align="center">
        <button mat-button mat-dialog-close>CANCEL</button>
    </mat-dialog-actions><br>
</div>