<div class="container" style="width: 500px;">
    <mat-toolbar>
        <span>Groupe Details</span>
    </mat-toolbar><br>
    <div> <b> Name : </b> </div>
    <mat-progress-bar mode="determinate" value="15"></mat-progress-bar><br>
    <mat-toolbar>
        <span>{{language.lang}} </span>
    </mat-toolbar>
    <br>
    <div> <b> Description : </b> </div>
    <mat-progress-bar mode="determinate" value="25"></mat-progress-bar><br>
    <mat-toolbar>
        <span>{{language.name}}</span>
    </mat-toolbar>
    <br>
    <div> <b> Description : </b> </div>
    <mat-progress-bar mode="determinate" value="25"></mat-progress-bar><br>
    <mat-toolbar>
        <span>{{language.image}}</span>
    </mat-toolbar>
    <br>
    <div> <b> Description : </b> </div>
    <mat-progress-bar mode="determinate" value="25"></mat-progress-bar><br>
    <mat-toolbar>
        <span>{{language.active}}</span>
    </mat-toolbar>
   

    <mat-dialog-actions align="center">
        <button mat-button mat-dialog-close>CANCEL</button>
    </mat-dialog-actions><br>
</div>