<mat-toolbar>
    <span>{{Accountservice.form.controls['id'].value?"Modify Account":"New Account"}}</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
  </mat-toolbar>
  <form [formGroup]="Accountservice.form" class="normal-form" (submit)="onSubmit()" class="normal-form">
    <mat-grid-list cols="2" rowHeight="220px">
      <mat-grid-tile>
          <div class="controles-container">
          <input type="hidden" formControlName="id">
          <mat-form-field >
            <input formControlName="username" matInput placeholder="username">
            <mat-error *ngIf="Accountservice.form.controls['username'].errors?.required">this field is mandatory.
            </mat-error>
          </mat-form-field>
          <mat-form-field >
            <input formControlName="email" matInput placeholder="email">
            <mat-error *ngIf="Accountservice.form.controls['email'].errors?.required">this field is mandatory.
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input formControlName="fiscaleCode" matInput placeholder="fiscaleCode">
            <mat-error *ngIf="Accountservice.form.controls['fiscaleCode'].errors?.required">this field is mandatory.
            </mat-error>
          </mat-form-field>

        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="controles-container">
          <div class="button-row">
            <div class="button-row">
              <button mat-raised-button color="primary" type="submit"
                [disabled]="Accountservice.form.invalid" (click)="refresh()">Save</button>
                <button mat-raised-button  mat-dialog-close>Cancel</button>
              <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
            </div>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </form> 