<mat-dialog-content style="width: 600px;">
    <mat-toolbar>Details Entreprise</mat-toolbar>
    <mat-progress-bar mode="determinate" value="15"></mat-progress-bar><br>
    <br>

</mat-dialog-content><br>
<mat-dialog-actions align="center">
    <button mat-button mat-dialog-close> <mat-icon>close</mat-icon>CANCEL</button>
</mat-dialog-actions><br>
