<mat-toolbar>
    <span>{{Accountservice.form.controls['id'].value?"Modify Role":"New Account"}}</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
  </mat-toolbar>
  <form [formGroup]="Accountservice.form" class="normal-form" (submit)="onSubmit()"   class="normal-form">
    <mat-grid-list cols="2" rowHeight="220px">
      <mat-grid-tile>
          <div class="controles-container">
            <select id="role" formControlName="role" matInput required  class="select-etiquette"> *---------- Roles ----------*
            <option disabled selected="selected">--------------------------- Roles ---------------------------</option>
            <option value="ROLE_ADMIN">ROLE_ADMIN</option> 
            <option value="ROLE_USER">ROLE_USER</option> 
            <option value="ROLE_MODERATEUR">ROLE_MODERATEUR</option> 
            </select>
           <!--<input type="hidden"  matInput formControlName="id" >
        <input type="hidden" matInput formControlName="username" >
        <input type="hidden" matInput formControlName="password">
        <input type="hidden" matInput formControlName="groupeId"  >
        <input type="hidden" matInput formControlName="matchingPassword"   name="matchingPassword"  id="matchingPassword" placeholder="_id">
        <input type="hidden" matInput formControlName="fiscaleCode"  name="fiscaleCode"  id="fiscaleCode" >--->
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="controles-container">
          <div class="button-row">
            <div class="button-row">
              <button mat-raised-button color="primary" type="submit"  [disabled]="Accountservice.form.invalid">Save</button>
                <button mat-raised-button  mat-dialog-close>Cancel</button>
              <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
            </div>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </form> 