<mat-toolbar>
  <span>{{
    Accountservice.form.controls["id"].value ? "Modify Role" : "New Account"
    }}</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>

<form [formGroup]="Accountservice.form" class="normal-form" (submit)="onSubmit()">
  <mat-grid-list cols="1" rowHeight="220px">
    <mat-grid-tile>
      <div class="controles-container">
        <div>
          <label for=""> Update Role</label><br> 
          <select class="form-control" name="roles" id="roles-select" (change)="onChangeRole($event)">
            <option *ngFor="let role of roleservices" [value]="role.id"
              [attr.selected]="selectedRoleID == role.id ? true : null">
              {{ role.name }}
            </option>
          </select>
        </div><br><br>
        <mat-divider></mat-divider><br>
        <label for=""> Assign Group</label><br>
        <select class="form-control" name="groups" id="groups-select"(change)="onChangeGroup($event)" >
          <option>select the group</option>
          <option *ngFor="let group of groups" [value]="group.id"
            [attr.selected]="data.groupeId == group.id ? true : null">
            {{ group.name }}
          </option>
          
        </select>
      </div>
      <div class="container">
        <div class="button-row">
            <button mat-raised-button color="primary" type="submit" [disabled]="Accountservice.form.invalid">
             <mat-icon>save</mat-icon> Save
            </button>
            <button mat-raised-button mat-dialog-close> <mat-icon>close</mat-icon>Cancel</button>
            <!--<button mat-raised-button color="warn" (click)="onClear()">
              Clear
            </button>-->
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>