<!-- START PRELOADER -->
<div class="preloader">
    <div class="status">
        <div class="status-mes">
            <div class="loader">
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__ball"></div>
            </div>
        </div>
    </div>
</div>	
	<!-- Start Slider Area -->
    <section id="slider_area">
        <div class="slider_active owl-carousel">
            <div class="slider_item1 single_slide">
                <div class="container">	
                    <div class="single-slide-item-table">
                        <div class="single-slide-item-tablecell">
                            <div class="slider_content slider-animated-1">
                                <span class="sl_heading animated">welcome to our</span>
                                <h2 class="animated"> <span>Awesome</span> World</h2>
                                <p class="animated">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mattis congue ipsum eu ultricies  Vivamus <br />  viverra tortor tincidunt placerat eleifend  Nulla</p>
                                <a href="#" class="animated btn main_bg_btn">learn more</a>
                            </div>	
                        </div>
                    </div>						
                </div>
            </div>
            
            <div class="slider_item2 single_slide">
                <div class="container">		
                    <div class="single-slide-item-table">
                        <div class="single-slide-item-tablecell">
                            <div class="slider_content text-center slider-animated-2">
                                <span class="sl_heading animated">we are</span>
                                <h2 class="animated"> <span>Creative</span> Agency</h2>
                                <p class="animated">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mattis congue ipsum eu ultricies  Vivamus <br />  viverra tortor tincidunt placerat eleifend  Nulla</p>
                                <a href="#" class="animated btn main_bg_btn">learn more</a>
                            </div>	
                        </div>
                    </div>	
                </div>
            </div>

            <div class="slider_item3 single_slide text-right">
                <div class="container">
                    <div class="single-slide-item-table">
                        <div class="single-slide-item-tablecell">
                            <div class="slider_content slider-animated-3">
                                <span class="sl_heading animated">we also do</span>
                                <h2 class="animated"> <span>Positive</span> Thinking</h2>
                                <p class="animated">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mattis congue ipsum eu ultricies  Vivamus <br />  viverra tortor tincidunt placerat eleifend  Nulla</p>
                                <a href="#" class="animated btn main_bg_btn">learn more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Slider Area -->
    
    
    <!-- Start About Area -->
    <section id="about_area" class="section_padding bg_white">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-xs-12 text-center wow fadeIn" data-wow-delay=".1s">
                    <div class="section_title">
                        <h2>Passion <span>Features</span></h2>
                        <div class="sec_divider"></div>
                        <p>It is a long established fact that a reader will be distracted by the readable <br>content of a page when looking at its layout</p>
                    </div>
                </div>
            </div>
                
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="single_about">
                        <div class="about_icon">
                            <i class="fa fa-laptop"></i>
                        </div>
                        <div class="about_content">
                            <h3>
                                Professional
                            </h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam finibus velit nec 
                            </p>
                        </div>  
                    </div>			
                </div><!--End Col -->				

                <div class="col-md-3 col-sm-6">
                    <div class="single_about">
                        <div class="about_icon">
                            <i class="fa fa-support"></i>
                        </div>
                        <div class="about_content">
                            <h3>
                                Passion
                            </h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam finibus velit nec 
                            </p>
                        </div>  
                    </div>			
                </div><!--End Col -->					
                
                <div class="col-md-3 col-sm-6">
                    <div class="single_about">
                        <div class="about_icon">
                            <i class="fa fa-paper-plane-o"></i>
                        </div>
                        <div class="about_content">
                            <h3>
                                Meterial Design
                            </h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam finibus velit nec 
                            </p>
                        </div>  
                    </div>			
                </div><!--End Col -->				

                <div class="col-md-3 col-sm-6">
                    <div class="single_about">
                        <div class="about_icon">
                            <i class="fa fa-file"></i>
                        </div>
                        <div class="about_content">
                            <h3>
                                Well Documented
                            </h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam finibus velit nec 
                            </p>
                        </div>  
                    </div>			
                </div><!--End Col -->
    
            </div>				
        </div>
    </section>
    <!-- End About Area -->
    
    
    <!-- Start Work Area -->
    <section id="work_area" class="our_works_area section_padding section_gray">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-xs-12 text-center wow fadeIn" data-wow-delay=".1s">
                    <div class="section_title">
                        <h2>Our <span>Portfolio</span></h2>
                        <div class="sec_divider"></div>
                        <p>It is a long established fact that a reader will be distracted by the readable <br>content of a page when looking at its layout</p>
                    </div>
                </div>
            </div>
        
            <div class="row text-center">
                <div class="portfolio_filter">
                    <ul>
                        <li class="active filter" data-filter="all">All</li>
                        <li class="filter" data-filter=".web_design">WEB DESIGN</li>
                        <li class="filter" data-filter=".illustrator">ILLUSTRATOR</li>
                        <li class="filter" data-filter=".ux_design">UL/UX DESIGN</li>
                        <li class="filter" data-filter=".print">PRINT</li>
                        <li class="filter" data-filter=".video">VIDEO</li>
                    </ul>
                </div>
                
                <div class="portfolio_item text-center">

                    <div class="col-md-4 col-sm-6 mix web_design ux_design">
                        <div class="single_portfolio">
                            <img src="../../assets/img/portfolio/1.jpg" alt="">
                            <div class="box-content">
                                <h3 class="title">Portfolio Title</h3>
                                <span class="post">Web Design</span>
                                <ul class="icon">
                                    <li><a href="../../assets/img/portfolio/1.jpg" class="venobox" data-gall="gall-work"><i class="fa fa-eye" ></i></a></li>
                                </ul>
                            </div>
                        </div>	
                    </div> <!-- End Col -->	
                    
                    <div class="col-md-4 col-sm-6 mix illustrator print video">
                        <div class="single_portfolio">
                            <img src="../../assets/img/portfolio/2.jpg" alt="">
                            <div class="box-content">
                                <h3 class="title">Portfolio Title</h3>
                                <span class="post">Illustrator</span>
                                <ul class="icon">
                                    <li><a href="../../assets/img/portfolio/2.jpg" class="venobox" data-gall="gall-work"><i class="fa fa-eye" ></i></a></li>
                                </ul>
                            </div>
                        </div>	
                    </div> <!-- End Col -->	
                    
                    <div class="col-md-4 col-sm-6 mix web_design video">
                        <div class="single_portfolio">
                            <img src="../../assets/img/portfolio/3.jpg" alt="">
                            <div class="box-content">
                                <h3 class="title">Portfolio Title</h3>
                                <span class="post">Web Desing</span>
                                <ul class="icon">
                                    <li><a href="../../assets/img/portfolio/3.jpg" class="venobox" data-gall="gall-work"><i class="fa fa-eye" ></i></a></li>
                                </ul>
                            </div>
                        </div>	
                    </div> <!-- End Col -->						

                    <div class="col-md-4 col-sm-6 mix web_design video">
                        <div class="single_portfolio">
                            <img src="../../assets/img/portfolio/4.jpg" alt="">
                            <div class="box-content">
                                <h3 class="title">Portfolio Title</h3>
                                <span class="post">Web Design</span>
                                <ul class="icon">
                                    <li><a href="../../assets/img/portfolio/4.jpg" class="venobox" data-gall="gall-work"><i class="fa fa-eye" ></i></a></li>
                                </ul>
                            </div>
                        </div>	
                    </div> <!-- End Col -->						

                    <div class="col-md-4 col-sm-6 mix web_design video">
                        <div class="single_portfolio">
                            <img src="../../assets/img/portfolio/5.jpg" alt="">
                            <div class="box-content">
                                <h3 class="title">Portfolio Title</h3>
                                <span class="post">Web Design</span>
                                <ul class="icon">
                                    <li><a href="../../assets/img/portfolio/5.jpg" class="venobox" data-gall="gall-work"><i class="fa fa-eye" ></i></a></li>
                                </ul>
                            </div>
                        </div>	
                    </div> <!-- End Col -->							
                    
                    <div class="col-md-4 col-sm-6 mix web_design video">
                        <div class="single_portfolio">
                            <img src="../../assets/img/portfolio/6.jpg" alt="">
                            <div class="box-content">
                                <h3 class="title">Portfolio Title</h3>
                                <span class="post">Video</span>
                                <ul class="icon">
                                    <li><a href="../../assets/img/portfolio/6.jpg" class="venobox" data-gall="gall-work"><i class="fa fa-eye" ></i></a></li>
                                </ul>
                            </div>
                        </div>	
                    </div> <!-- End Col -->	
                        
                </div>
            </div>
        </div>
    </section>
    <!-- End Work Area -->

    
    <!-- Start Skill Area -->
    <section id="skill_area" class="section_padding bg_white">
        <div class="container">
            <div class="row">
                <div class="col-md-6 wow fadeInLeft" data-wow-delay=".1s">	
                    <h3 class="progressbar-title">HTML</h3>
                    <div class="progress">
                        <div class="progress-bar" style="width: 65%; ">
                            <span class="progress-icon fa fa-check"></span>
                            <div class="progress-value">65%</div>
                        </div>
                    </div>
         
                    <h3 class="progressbar-title">CSS3</h3>
                    <div class="progress">
                        <div class="progress-bar" style="width: 50%;">
                            <span class="progress-icon fa fa-check"></span>
                            <div class="progress-value">50%</div>
                        </div>
                    </div>
         
                    <h3 class="progressbar-title">java script</h3>
                    <div class="progress">
                        <div class="progress-bar" style="width: 70%;">
                            <span class="progress-icon fa fa-check"></span>
                            <div class="progress-value">70%</div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6 wow fadeInRight" data-wow-delay=".1s">	
                    <h3 class="progressbar-title">UI/UX</h3>
                    <div class="progress">
                        <div class="progress-bar" style="width: 80%">
                            <span class="progress-icon fa fa-check"></span>
                            <div class="progress-value">80%</div>
                        </div>
                    </div>
         
                    <h3 class="progressbar-title">Ideas</h3>
                    <div class="progress">
                        <div class="progress-bar" style="width: 75%;">
                            <span class="progress-icon fa fa-check"></span>
                            <div class="progress-value">75%</div>
                        </div>
                    </div>
         
                    <h3 class="progressbar-title">Marketing</h3>
                    <div class="progress">
                        <div class="progress-bar" style="width: 90%;">
                            <span class="progress-icon fa fa-check"></span>
                            <div class="progress-value">90%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Skill Area -->
    
    
    <!-- Start team Area -->
    <section id="team_area" class="section_padding section_gray">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-xs-12 text-center wow fadeIn" data-wow-delay=".1s">
                    <div class="section_title">
                        <h2>Our <span>Team</span></h2>
                        <div class="sec_divider"></div>
                        <p>It is a long established fact that a reader will be distracted by the readable <br>content of a page when looking at its layout</p>
                    </div>
                </div>
            </div>
        
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="our-team">
                        <img src="../../assets/img/team/1.jpg" alt="">
                        <div class="team-content">
                            <h3 class="title">Williamson</h3>
                            <span class="post">web developer</span>
                            <ul class="social-links">
                                <li><a href="#"><i class="fa fa-facebook"></i> </a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i> </a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i> </a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i> </a></li>
    
                            </ul>
                        </div>
                    </div>
                </div>
         
                <div class="col-md-3 col-sm-6">
                    <div class="our-team">
                        <img src="../../assets/img/team/2.jpg" alt="">
                        <div class="team-content">
                            <h3 class="title">kristina</h3>
                            <span class="post">Web Designer</span>
                            <ul class="social-links">
                                <li><a href="#"><i class="fa fa-facebook"></i> </a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i> </a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i> </a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i> </a></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="our-team">
                        <img src="../../assets/img/team/3.jpg" alt="">
                        <div class="team-content">
                            <h3 class="title">Williamson</h3>
                            <span class="post">web developer</span>
                            <ul class="social-links">
                                <li><a href="#"><i class="fa fa-facebook"></i> </a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i> </a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i> </a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i> </a></li>

                            </ul>
                        </div>
                    </div>
                </div>
         
                <div class="col-md-3 col-sm-6">
                    <div class="our-team">
                        <img src="../../assets/img/team/4.jpg" alt="">
                        <div class="team-content">
                            <h3 class="title">kristina</h3>
                            <span class="post">Web Designer</span>
                            <ul class="social-links">
                                <li><a href="#"><i class="fa fa-facebook"></i> </a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i> </a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i> </a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i> </a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>				
        </div>
    </section>
    <!-- End team Area -->
    
    
    <!-- Start service Area -->
    <section id="service_area" class="section_padding bg_white">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-xs-12 text-center wow fadeIn" data-wow-delay=".1s">
                    <div class="section_title">
                        <h2>Our <span>Services</span></h2>
                        <div class="sec_divider"></div>
                        <p>It is a long established fact that a reader will be distracted by the readable <br>content of a page when looking at its layout</p>
                    </div>
                </div>
            </div>
        
            <div class="row text-left">
                <div class="col-md-4 col-sm-6">
                    <div class="serviceBox">
                        <i class="fa fa-globe service-icon"></i>
                        <div class="service-content">
                            <h5 class="title">Web Design</h5>
                            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing Quisque.</p>
                        </div>
                    </div>
                </div>
         
                <div class="col-md-4 col-sm-6">
                    <div class="serviceBox">
                        <i class="fa fa-tv service-icon"></i>
                        <div class="service-content">
                            <h5 class="title">Web Development</h5>
                            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing Quisque.</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4 col-sm-6">
                    <div class="serviceBox">
                        <i class="fa fa-bar-chart service-icon"></i>
                        <div class="service-content">
                            <h5 class="title">Marketing</h5>
                            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing Quisque.</p>
                        </div>
                    </div>
                </div>
         
                <div class="col-md-4 col-sm-6">
                    <div class="serviceBox">
                        <i class="fa fa-search service-icon"></i>
                        <div class="service-content">
                            <h5 class="title">SEO</h5>
                            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing Quisque.</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4 col-sm-6">
                    <div class="serviceBox ">
                        <i class="fa fa-camera service-icon"></i>
                        <div class="service-content">
                            <h5 class="title">Photography</h5>
                            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing Quisque.</p>
                        </div>
                    </div>
                </div>
         
                <div class="col-md-4 col-sm-6">
                    <div class="serviceBox">
                        <i class="fa fa-shopping-cart  service-icon"></i>
                        <div class="service-content">
                            <h5 class="title">Woocommerce</h5>
                            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing Quisque.</p>
                        </div>
                    </div>
                </div>
            </div>								
        </div>
    </section>
    <!-- End service Area -->
    
    
    <!-- Start pricing Area -->
    <section id="pricing_area" class="section_padding section_gray">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-xs-12 text-center wow fadeIn" data-wow-delay=".1s">
                    <div class="section_title">
                        <h2>Our <span>Pricing</span></h2>
                        <div class="sec_divider"></div>
                        <p>It is a long established fact that a reader will be distracted by the readable <br>content of a page when looking at its layout</p>
                    </div>
                </div>
            </div>
        
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="pricingTable">
                        <div class="pricingTable-header">
                            <span class="price-value">$10<span class="mo">per month</span></span>
                            <div class="heading">
                                <h3>Standard</h3>
                            </div>
                        </div>
                        <div class="pricingContent">
                            <ul>
                                <li><b>50GB</b> Disk Space</li>
                                <li><b>50</b> Email Accounts</li>
                                <li><b>50GB</b> Monthly Bandwidth</li>
                                <li><b>50</b> Domains</li>
                                <li>Unlimited Subdomains</li>
                            </ul>
                        </div><!-- /  CONTENT BOX-->
                        <div class="pricingTable-sign-up">
                            <a href="#" class="btn main_bg_btn">Select Plan</a>
                        </div><!-- BUTTON BOX-->
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="pricingTable">
                        <div class="pricingTable-header">
                            <span class="price-value">$20<span class="mo">per month</span></span>
                            <div class="heading">
                                <h3>Business</h3>
                            </div>
                        </div>
                        <div class="pricingContent">
                            <ul>
                                <li><b>50GB</b> Disk Space</li>
                                <li><b>50</b> Email Accounts</li>
                                <li><b>50GB</b> Monthly Bandwidth</li>
                                <li><b>50</b> Domains</li>
                                <li>Unlimited Subdomains</li>
                            </ul>
                        </div><!-- /  CONTENT BOX-->
                        <div class="pricingTable-sign-up">
                            <a href="#" class="btn main_bg_btn">Select Plan</a>
                        </div><!-- BUTTON BOX-->
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="pricingTable">
                        <div class="pricingTable-header">
                            <span class="price-value">$30<span class="mo">per month</span></span>
                            <div class="heading">
                                <h3>Premium</h3>
                            </div>
                        </div>
                        <div class="pricingContent">
                            <ul>
                                <li><b>50GB</b> Disk Space</li>
                                <li><b>50</b> Email Accounts</li>
                                <li><b>50GB</b> Monthly Bandwidth</li>
                                <li><b>50</b> Domains</li>
                                <li>Unlimited Subdomains</li>
                            </ul>
                        </div><!-- /  CONTENT BOX-->
                        <div class="pricingTable-sign-up">
                            <a href="#" class="btn main_bg_btn">Select Plan</a>
                        </div><!-- BUTTON BOX-->
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="pricingTable">
                        <div class="pricingTable-header">
                            <span class="price-value">$40<span class="mo">per month</span></span>
                            <div class="heading">
                                <h3>Extra</h3>
                            </div>
                        </div>
                        <div class="pricingContent">
                            <ul>
                                <li><b>50GB</b> Disk Space</li>
                                <li><b>50</b> Email Accounts</li>
                                <li><b>50GB</b> Monthly Bandwidth</li>
                                <li><b>50</b> Domains</li>
                                <li>Unlimited Subdomains</li>
                            </ul>
                        </div><!-- /  CONTENT BOX-->
                        <div class="pricingTable-sign-up">
                            <a href="#" class="btn main_bg_btn">Select Plan</a>
                        </div><!-- BUTTON BOX-->
                    </div>
                </div>
            </div>							
        </div>
    </section>
    <!-- End pricing Area -->
    
    
    <!-- Start testimonial Area -->
    <section id="testimonial_area" class="section_padding bg_white">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-xs-12 text-center wow fadeIn" data-wow-delay=".1s">
                    <div class="section_title">
                        <h2>Our <span>Testimonial</span></h2>
                        <div class="sec_divider"></div>
                        <p>It is a long established fact that a reader will be distracted by the readable <br>content of a page when looking at its layout</p>
                    </div>
                </div>
            </div>
        
            <div class="row">
                <div class="col-md-12">
                    <div id="testimonial-slider" class="owl-carousel">
                        <div class="testimonial">
                            <div class="pic">
                                <img src="../../assets/img/testimonial/1.jpg" alt="">
                            </div>
                            <div class="testimonial-content">
                                <h3 class="testimonial-title">Kristiana
                                    <small class="post">Web Designer</small>
                                </h3>
                                <p class="description">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam amet animi blanditiis consequatur debitis dicta distinctio, enim error eum iste libero modi nam natus perferendis possimus quasi sint sit tempora voluptatem.
                                </p>
                            </div>
                        </div>
     
                        <div class="testimonial">
                            <div class="pic">
                                <img src="../../assets/img/testimonial/2.jpg" alt="">
                            </div>
                            <div class="testimonial-content">
                                <h3 class="testimonial-title">Williamson
                                    <small class="post">Web Developer</small>
                                </h3>
                                <p class="description">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam amet animi blanditiis consequatur debitis dicta distinctio, enim error eum iste libero modi nam natus perferendis possimus quasi sint sit tempora voluptatem.
                                </p>
                            </div>
                        </div>
                        <div class="testimonial">
                            <div class="pic">
                                <img src="../../assets/img/testimonial/3.jpg" alt="">
                            </div>
                            <div class="testimonial-content">
                                <h3 class="testimonial-title">Williamson
                                    <small class="post">Web Developer</small>
                                </h3>
                                <p class="description">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam amet animi blanditiis consequatur debitis dicta distinctio, enim error eum iste libero modi nam natus perferendis possimus quasi sint sit tempora voluptatem.
                                </p>
                            </div>
                        </div>
                        <div class="testimonial">
                            <div class="pic">
                                <img src="../../assets/img/testimonial/4.jpg" alt="">
                            </div>
                            <div class="testimonial-content">
                                <h3 class="testimonial-title">Kristiana
                                    <small class="post">Web Developer</small>
                                </h3>
                                <p class="description">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam amet animi blanditiis consequatur debitis dicta distinctio, enim error eum iste libero modi nam natus perferendis possimus quasi sint sit tempora voluptatem.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>										
        </div>
    </section>
    <!-- End testimonial Area -->
    
    
    <!-- Start Blog Area -->
    <div id="blog_area" class="section_padding section_gray">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-xs-12 text-center wow fadeIn" data-wow-delay=".1s">
                    <div class="section_title">
                        <h2>Latest <span>Blog</span></h2>
                        <div class="sec_divider"></div>
                        <p>It is a long established fact that a reader will be distracted by the readable <br>content of a page when looking at its layout</p>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div id="blog_slider" class="owl-carousel">
                    <div class="single_blog">
                        <img src="../../assets/img/blog/1.jpg" alt="">
                        <div class="blog_details">
                            <a href="#"><h1> Girl's Swimming during Daytime</h1></a>
                            <span>January 19, 2018</span>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting 
                                industry. Lorem Ipsum has been the industry  ...</p>
                    
                        </div>
                    </div>

                    <div class="single_blog">
                        <img src="../../assets/img/blog/2.jpg" alt="">
                        <div class="blog_details">
                            <a href="#"><h1>Arrangement Bloom Blossom</h1></a>
                            <span>January 19, 2018</span>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting 
                                industry. Lorem Ipsum has been the industry  ...</p>
            
                        </div>
                    </div>
                    
                    <div class="single_blog">
                        <img src="../../assets/img/blog/3.jpg" alt="">
                        <div class="blog_details">
                            <a href="#"><h1>Rio Coffee Restaurant</h1></a>
                            <span>January 19, 2018</span>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting 
                                industry. Lorem Ipsum has been the industry  ...</p>
                            
                        </div>
                    </div>
                    
                    <div class="single_blog">
                        <img src="../../assets/img/blog/2.jpg" alt="">
                        <div class="blog_details">
                            <a href="#"><h1>Arrangement Bloom Blossom</h1></a>
                            <span>January 19, 2018</span>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting 
                                industry. Lorem Ipsum has been the industry  ...</p>
            
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>	
    <!-- End Blog Area -->
    
    
    <!-- Start Counter Area -->
    <div id="counter_area" class="section_padding" style="background-image: url(../../assets/img/counter-bg.jpg); background-size: cover; background-attachment: fixed;">
        <div class="container">
            <div class="text-center">
                <div class="col-md-3 col-sm-6">
                    <div class="counter-items">
                        <div class="counter_icon">
                            <i class="fa fa-rocket"></i>
                        </div>
                        <div class="number-number">
                            <span class="counter">850</span>
                        </div>
                        <p class="number-desc">Projects Delivered</p>
                    </div>
                </div><!--End Col -->
                
                <div class="col-md-3 col-sm-6">
                    <div class="counter-items">
                        <div class="counter_icon">
                            <i class="fa fa-lightbulb-o"></i>
                        </div>
                        <div class="number-number">
                            <span class="counter">6923 </span>
                        </div>
                        <p class="number-desc">Happy Customer</p>
                    </div>
                </div><!--End Col -->
                
                <div class="col-md-3 col-sm-6">
                    <div class="counter-items">
                        <div class="counter_icon">
                            <i class="fa fa-coffee"></i>
                        </div>
                        <div class="number-number">
                            <span class="counter">520</span>
                        </div>
                        <p class="number-desc">Cup Coffee</p>
                    </div>
                </div><!--End Col -->
                
                <div class="col-md-3 col-sm-6">
                    <div class="counter-items">
                        <div class="counter_icon">
                            <i class="fa fa-clock-o"></i>
                        </div>
                        <div class="number-number">
                            <span class="counter">24</span>
                        </div>
                        <p class="number-desc">Timely Delivery</p>
                    </div>
                </div><!--End Col -->
                
            </div>
        </div>
    </div>
    <!-- End Counter Area -->
    
    
    <!-- Start Contact Area -->
    <section id="contact_area" class="contact_area section_padding bg_white">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-xs-12 text-center wow fadeIn" data-wow-delay=".1s">
                    <div class="section_title">
                        <h2>Contact <span>Us</span></h2>
                        <div class="sec_divider"></div>
                        <p>It is a long established fact that a reader will be distracted by the readable <br>content of a page when looking at its layout</p>
                    </div>
                </div>
            </div>
                    
            <div class="row text-center">	
                <div class="col-sm-4">
                    <div class="single_contact_info">
                        <i class="fa fa-phone"></i>
                        <p>
                            719-218-8469 <br />
                            716-578-978
                        </p>
                    </div>						
                </div><!--End Col-->					

                <div class="col-sm-4">
                    <div class="single_contact_info">
                        <i class="fa fa-envelope-o"></i>
                        <p>
                            <a href="https://getmasum.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="14716c7579647871547379757d783a777b79">[email&#160;protected]</a> <br />
                            <a href="https://getmasum.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="02677a636f726e6742656f636b6e2c616d6f">[email&#160;protected]</a>
                        </p>
                    </div>						
                </div><!--End Col-->					

                <div class="col-sm-4">
                    <div class="single_contact_info">
                        <i class="fa fa-map"></i>
                        <p>1537 Broaddus Avenue <br />
                            La Center, KY 42056 
                        </p>
                    </div>						
                </div><!--End Col-->							
            </div>		
            
            <div class="row"> 					
                <div class="col-sm-8 col-xs-12 center-block">
                    <div class="cform_box">
                        <!-- comment-form -->
                        <form id="contact-form" method="post" action="https://getmasum.com/html-preview/passion/passion/contact.php" enctype="multipart/form-data">
                            <div id="main_form">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">      
                                            <input name="name" id="name" type="text" placeholder="Name" class="form-control">   
                                        </div>
                                    </div><!-- End Col -->  	
                                    
                                    <div class="col-sm-6">
                                        <div class="form-group">      
                                            <input name="email" id="email" type="email" placeholder="Email" class="form-control">    
                                        </div>
                                    </div><!-- End Col -->  
                                    
                                    <div class="col-xs-12">	
                                        <div class="form-group">      
                                            <input name="subject" id="subject" type="text" placeholder="Subject" class="form-control">   
                                        </div>
                                    </div><!-- End Col -->  	
                                    
                                    <div class="col-xs-12">
                                        <div class="form-group">                  
                                            <textarea name="message" id="comments" placeholder="Message" class="form-control" ></textarea>						 
                                        </div>
                                    </div><!-- End Col -->  	
                                
                                    <div class="col-xs-12">
                                        <div class="form_btn text-center">
                                            <input name="submit" id="submit" value="Send message" class="btn main_bg_btn fbb_btn" type="submit">
                                        </div>
                                    </div> <!-- End Col -->  
                                </div>
                            </div>
                        </form> 
                        <!-- comment-form-end end -->  
                    </div>
                </div>
            </div>
        </div>
    </section>	
    <!-- End Contact Area -->
    
    <div class="clearfix"></div>
    
    <!-- Start Client Area -->
    <div id="clients_area" class="client_area section_gray">
        <div class="container">	
            <div class="client_slide_area owl-carousel">
                <div class="single_client">
                    <a href="#"><img class="img-responsive" src="../../assets/img/client/1.png" alt="" /></a>
                </div>
                <div class="single_client">
                    <a href="#"><img class="img-responsive" src="../../assets/img/client/2.png" alt="" /></a>
                </div>
                <div class="single_client">
                    <a href="#"><img class="img-responsive" src="../../assets/img/client/3.png" alt="" /></a>
                </div>
                <div class="single_client">
                    <a href="#"><img class="img-responsive" src="../../assets/img/client/4.png" alt="" /></a>
                </div>
                <div class="single_client">
                    <a href="#"><img class="img-responsive" src="../../assets/img/client/5.png" alt="" /></a>
                </div>
                
                <div class="single_client">
                    <a href="#"><img class="img-responsive" src="../../assets/img/client/1.png" alt="" /></a>
                </div>
                <div class="single_client">
                    <a href="#"><img class="img-responsive" src="../../assets/img/client/2.png" alt="" /></a>
                </div>
                <div class="single_client">
                    <a href="#"><img class="img-responsive" src="../../assets/img/client/3.png" alt="" /></a>
                </div>
                <div class="single_client">
                    <a href="#"><img class="img-responsive" src="../../assets/img/client/4.png" alt="" /></a>
                </div>
                <div class="single_client">
                    <a href="#"><img class="img-responsive" src="../../assets/img/client/5.png" alt="" /></a>
                </div>
            </div>	
        </div>
    </div>	
    <!-- End Client Area -->

    
    <!-- Start Footer Area -->
    <footer id="footer_area">
        <div class="container">	
            <div class="row">							
                <div class="col-sm-6">
                    <div class="copyright">
                        <p>&copy; 2018 All Rights Reserved <a href="#">Passion</a></p>
                    </div>			
                </div>
                
                <div class="col-sm-6">
    
                    <div class="ftr_social_list">
                        <ul class="navbar-right">
                            <li><a href="#" class="f_facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="f_twitter"><i class="fa fa-twitter" ></i></a></li>
                            <li><a href="#" class="f_linkedin"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#" class="f_youtube"><i class="fa fa-youtube"></i></a></li>
                            <li><a href="#" class="f_google"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>						
                </div>					
            </div>
        </div><!-- /.container-fluid -->
    </footer>
    <!-- End Footer Area -->
