<!-- START PRELOADER -->
<div class="preloader">
    <div class="status">
        <div class="status-mes">
            <div class="loader">
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__ball"></div>
            </div>
        </div>
    </div>
</div>	
		
    
  <!-- Start Slider Area -->
  <section id="slider_area">
    <div class="slider_active owl-carousel">
        <div class="slider_item1 single_slide">
            <div class="container">	
                <div class="single-slide-item-table">
                    <div class="single-slide-item-tablecell">
                    <div class="slider_content slider-animated-1">
                            <h2 class="animated"> <span>Advanced</span> Software <span>Solutions</span> </h2>
                            <br>
                            <a href="#" class="animated btn main_bg_btn">learn more</a>
                        </div>	
                    </div>
                </div>						
            </div>
        </div>
        
        <div class="slider_item2 single_slide">
            <div class="container">		
                <div class="single-slide-item-table">
                    <div class="single-slide-item-tablecell">
                        <div class="slider_content text-center slider-animated-2">
                            <h2 class="animated"> <span>E-Commerce </span> Click&Collect</h2>
                            <span class="sl_heading animated">The online showcase for your business</span>
                            <br>
                            <a href="#" class="animated btn main_bg_btn">learn more</a>
                        </div>	
                    </div>
                </div>	
            </div>
        </div>

        <div class="slider_item3 single_slide text-right">
            <div class="container">
                <div class="single-slide-item-table">
                    <div class="single-slide-item-tablecell">
                        <div class="slider_content slider-animated-3">
                            <h2 class="animated"> <span>Foodmanager the </span>Software software </h2>
                            <span class="sl_heading animated">for your Food outlets</span>
                            <br>
                            <a href="#" class="animated btn main_bg_btn">learn more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider_active owl-carousel">
            <div class="slider_item4 single_slide">
                <div class="container">	
                    <div class="single-slide-item-table">
                        <div class="single-slide-item-tablecell">
                            <div class="slider_content slider-animated-1">
                                <h2 class="animated"> The software<span> solution </span> for your <span>business</span>  </h2>
                                <span class="sl_heading animated">Magazine, Accounting, Invoicing</span>
                                <br>
                                <a href="#" class="animated btn main_bg_btn">learn more</a>
                            </div>	
                        </div>
                    </div>						
                </div>
            </div>
            </div>
    </div>
    
</section>
  <!-- Start team Area -->
  <section id="team_area" class="section_padding bg_white">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12 text-center wow fadeIn" data-wow-delay=".1s">
                <div class="section_title">
                    <h2> <span>{{pageInfos.title}} </span></h2>
                    <div class="sec_divider"></div>
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-8">
                <div class="container p-3">
                    <div class="row">
                        <div class="col-12" [innerHTML]="pageInfos.htmlContent"></div>
                    </div>
                </div>   
        </div>				
    </div>
    </div>
</section>

<section id="work_area" class="our_works_area section_padding section_gray">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-xs-12 text-center wow fadeIn" data-wow-delay=".1s">
                    <div class="section_title">
                        <h2>Warehouse, <span> accounting software </span> solutions</h2>
                        <div class="sec_divider"></div>
                    </div>
                </div>
            </div>
        
            <div class="row text-center">
                <div class="portfolio_filter">
                    <ul>
                        <li class=" active filter" data-filter="all">All</li>
                        <li class=" filter" data-filter=".web_design"> DISTRUBITION CENTERS</li>
                        <li class="filter" data-filter=".illustrator">FASHION</li>
                        <li class="filter" data-filter=".ux_design">ENTREPRISE</li>
                        <li class="filter" data-filter=".print">CONSULTANTS</li>
                        <li class=" active filter" data-filter=".video">SUPERMARKETS & DISCOUNT</li>
                            
                    </ul>
                </div>
                
                <div class="portfolio_item text-center">

                    <div class="row">
                    <div class="col-md-4 col-sm-6 mix web_design illustrator "  *ngFor="let product of productslist" >
                        <div class="single_portfolio">
                            <img src="{{product.image}}"  alt="">
                            <div class="box-content">
                                <h3 class="title">{{product.title}}</h3>
                                <span class="post">{{product.slug}}</span>
                                <ul class="icon">
                                    <li><a class="venobox" data-gall="gall-work"><i class="fa fa-eye" ></i></a></li>
                                </ul>
                            </div>
                        </div>	
                    </div>
                    </div> 
                  <div class="col-md-4 col-sm-6 mix illustrator">
                        <div class="single_portfolio">
                            <img  src="https://www.igesa.it/assets/common/images/prodotto/meduim/1548774001.png"   alt="">
                            <div class="box-content">
                                <h3 class="title">Sellpoint</h3>
                                <span class="post">Bounty web Software</span>
                                <ul class="icon">
                                    <li><a href="https://www.igesa.it/assets/common/images/prodotto/meduim/1548774001.png" class="venobox" data-gall="gall-work"><i class="fa fa-eye" ></i></a></li>
                                </ul>
                            </div>
                        </div>	
                        </div>
                    <div class="col-md-4 col-sm-6 mix video">
                        <div class="single_portfolio">
                            <img  src="https://www.igesa.it/assets/common/images/prodotto/meduim/1548952814.png" alt="">
                            <div class="box-content">
                                <h3 class="title">Mega Tawer</h3>
                                <span class="post">Mega Tawer</span>
                                <ul class="icon">
                                    <li><a href="https://www.igesa.it/assets/common/images/prodotto/meduim/1548952814.png" class="venobox" data-gall="gall-work"><i class="fa fa-eye" ></i></a></li>
                                </ul>
                            </div>
                        </div>	
                    </div> 
                    <div class="col-md-4 col-sm-6 mix video">
                        <div class="single_portfolio">
                            <img  src="https://www.igesa.it/assets/common/images/prodotto/meduim/1548774207.png" alt="">
                            <div class="box-content">
                                <h3 class="title">Digital Signagee</h3>
                                <span class="post">Digital Signage</span>
                                <ul class="icon">
                                    <li><a href="https://www.igesa.it/assets/common/images/prodotto/meduim/1548774207.png" class="venobox" data-gall="gall-work"><i class="fa fa-eye" ></i></a></li>
                                </ul>
                            </div>
                        </div>	
                    </div> 
                    <div class="col-md-4 col-sm-6 mix  ux_design">
                        <div class="single_portfolio">
                            <img  src="https://www.igesa.it/assets/common/images/prodotto/meduim/1548773970.png" alt="">
                            <div class="box-content">
                                <h3 class="title">Invoice b2b</h3>
                                <span class="post">Billing Software</span>
                                <ul class="icon">
                                    <li><a href="https://www.igesa.it/assets/common/images/prodotto/meduim/1548773970.png" class="venobox" data-gall="gall-work"><i class="fa fa-eye" ></i></a></li>
                                </ul>
                            </div>
                        </div>	
                    </div> 
                    <div class="col-md-4 col-sm-6 mix  ux_design">
                        <div class="single_portfolio">
                            <img  src=" https://www.igesa.it/assets/common/images/prodotto/meduim/1548950562.png" alt="">
                            <div class="box-content">
                                <h3 class="title">Business Intelligence</h3>
                                <span class="post">Business Intelligence</span>
                                <ul class="icon">
                                    <li><a href="
                                        https://www.igesa.it/assets/common/images/prodotto/meduim/1548950562.png" class="venobox" data-gall="gall-work"><i class="fa fa-eye" ></i></a></li>
                                </ul>
                            </div>
                        </div>	
                    </div> 
                    <div class="col-md-4 col-sm-6 mix print">
                        <div class="single_portfolio">
                            <img  src="https://www.igesa.it/assets/common/images/prodotto/meduim/1554219472.png" alt="">
                            <div class="box-content">
                                <h3 class="title">Espando</h3>
                                <span class="post">Studio Espando</span>
                                <ul class="icon">
                                    <li><a href="https://www.igesa.it/assets/common/images/prodotto/meduim/1554219472.png" class="venobox" data-gall="gall-work"><i class="fa fa-eye" ></i></a></li>
                                </ul>
                            </div>
                        </div>	
                    </div>
                    
                </div>
            </div>
        </div>
    </section> 
    
    <div class="clearfix"></div>
    
    <!-- Start Client Area -->
    <div id="clients_area" class="client_area section_gray">
        <div class="container">	
            <div class="row">
                <div class="col-sm-12 col-xs-12 text-center wow fadeIn" data-wow-delay=".1s">
                    <div class="section_title">
                        <h2>Some <span>References</span></h2>
                        <div class="sec_divider"></div>
                    </div>
                </div>
            </div>           
            <div  class="row client_slide_area owl-carousel">
                <div sclass="single_client">
                    <a href="https://www.enerj.it/"><img class="img-responsive" src="../../assets/img/client/1.png" alt="" /></a>
                </div>
                <div  class="single_client">
                    <a href="https://www.cdisrl.it/"><img class="img-responsive" src="../../assets/img/client/2.png" alt="" /></a>
                </div>
                <div  class="single_client">
                    <a href="https://www.bluenext.it/"><img class="img-responsive" src="../../assets/img/client/3.png" alt="" /></a>
                </div>
                <div  class="single_client">
                    <a href="https://www.bernava.net/"><img  class="img-responsive" src="../../assets/img/client/4.png" alt="" /></a>
                </div>
                <div  class="single_client">
                    <a href="http://ww7.fransal.it/"><img class="img-responsive" src="../../assets/img/client/5.png" alt="" /></a>
                </div>
                
                <div  class="single_client">
                    <a href="https://plasticonfshop.com/"><img  class="img-responsive" src="../../assets/img/client/6.png" alt="" /></a>
                </div>
                <div class="single_client">
                    <a href="https://www.e-coop.it/web/guest?antiCache=1484506565889"><img  class="img-responsive" src="../../assets/img/client/Logo_Coop_(Suisse).svg.png" alt="" /></a>
                </div>
                <div class="single_client">
                    <a href="http://killin.vendita-on-line.eu:8080/jshop/pages/index.xhtml"><img class="img-responsive" src="../../assets/img/client/8.png" alt="" /></a>
                </div>
            </div>	
        </div>
    </div>	

<!-- Contact Us -->
<section id="find_us_section" style="display: none;">
    <div class="container">
        <div class="row">
            <!-- Content Right -->
            <div class="col-md-12">
                <a id="find_us" href="http://maps.google.com?q=Via Consolare Antica, 308, Capo d'Orlando, ME, Italia" target="blank" class="btn btn-primary"><i class="fa fa-map"></i></a>
            </div>
            <!-- End Content Right -->
        </div>
    </div>
    <!-- End Container-->
</section>
<!-- End Contact Us-->


<!-- Google Map --> 
<div id="map" style="margin: 50px 0;"></div>

<!-- End Google Map -->
<script type="text/javascript">
    var cookies_message = "Questo sito utilizza i cookies per offrirti un servizio migliore. Continuando la navigazione autorizzi l’uso dei cookies.";
    var cookies_dismiss = "Accettare";
    var cookies_link = "Per saperne di più";
    var cookies_page = "https://www.igesa.it/Cookies";
    var base_url = 'https://www.igesa.it/';
    var color = '#237db3';
    var to_go = 'Vai a ...';
    var language = 'it';
</script>