<mat-toolbar>
    <span>{{languageservice.form.controls['id'].value?"Modify language " : "New language"}}</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
  </mat-toolbar><br><br>
    <form [formGroup]="languageservice.form" class="normal-form" (submit)="onSubmit()" class="normal-form">
      <mat-grid-list cols="1" rowHeight="240px">
        <mat-grid-tile>
          <div class="controles-container">
            <mat-form-field style="margin-left: 30px;">
              <input formControlName="code" matInput placeholder="code">
              <mat-error *ngIf="languageservice.form.controls['code'].errors?.required">this field is mandatory.
              </mat-error>
            </mat-form-field>
            <mat-form-field style="margin-left: 30px;">
              <input formControlName="name" matInput placeholder="name">
              <mat-error *ngIf="languageservice.form.controls['name'].errors?.required">this field is mandatory.
              </mat-error>
            </mat-form-field>
          </div> </mat-grid-tile>
      </mat-grid-list>
      <div class="button-row" align="center">
        <button mat-raised-button color="primary" type="submit"
          [disabled]="languageservice.form.invalid" (click)="reloadPage()">Save</button>
          <button mat-raised-button  mat-dialog-close> <mat-icon>close</mat-icon>Cancel</button>
    </div>
    </form>