/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/****************************** dialog ***********************/

snack-bar-container.success{
    background-color: rgb(39, 38, 38);
    color:white;
        }
        snack-bar-container.warn{
            background-color:#f99157;
            color: white;;
                }
         snack-bar-container.notification simple-snack-bar{
             font-size: 20px !important;
             font-weight: normal;
    
         } 

.hide {
    display: none;
}

mat-footer-row mat-footer-cell {
    justify-content: center;
    font-style: italic;
}



/* for dialog pop-up */
.btn-dialog-close {
    width: 45px;
    min-width: 0px !important;
    height: 40px;
    padding: 0px !important;
}

/* mat-confirm-dialog (customised dialog) */
.confirm-dialog-container .mat-dialog-container {
    border-radius: .25em .25em .4em .4em;
    padding: 0px;
}

.confirm-dialog-container .content-container {
    margin: 5px 5px 15px 5px;
    color: #8f9cb5;
    display: flex;
}

.confirm-dialog-container #close-icon {
    margin-left: auto;
    order: 2;
    font-weight: bolder;
}

.confirm-dialog-container #close-icon:hover {
    cursor: pointer;
}

.confirm-dialog-container #no-button {
    height: 50px;
    width: 50%;
    background-color: #f0382f;
    color: white;
    border-radius: 0px;
}

.confirm-dialog-container #yes-button {
    height: 50px;
    width: 50%;
    background-color: #b6bece;
    color: white;
    border-radius: 0px;
}


.confirm-dialog-container span.content-span {
    padding: 35px 16px;
    text-align: center;
    font-size: 20px;
}
    
.search-div{

   margin :10px ;
}
.search-form-field{
    width: 60%;
    margin-left: 10px;
    padding: 5px 10px;
    background-color:#f5f5f5;
    border-radius: 5px;
}

.search-form-field div.mat-form-field-underline{
    display: none;
}

.search-form-field div.mat-form-field-infix{
   border-top: 0px;
}
.search-form-field div.mat-form-field-wrapper{
   padding-bottom: 0px;
}
.search-form-field div.mat-form-field-suffix button{
   height: 32px;
   width: 32px;

}
  .fill-remaining-space{
      flex: 1 1 auto;
  }
  form.normal-form{
   margin: 10px;
  }
  .controles-container{
  width: 150%;
  padding: 5%;
  }
  .controles-container > *{
      width: 100%;
     
      }
      .add-bottom-padding{
          padding-bottom:10px ;
      } mat-radio-group  mat-radio-button{
          margin-left: 5px;
      }
     .button-row button{
          margin: 5px;
      }

      .fill-remaining-space {
        flex: 1 1 auto;
      }
    
      .vap-icon {
        padding: 0 10px;
      }
    
      .mat-elevation-z5 {
        position: relative;
        z-index: 2;
        }
    
    .mat-sidenav a:hover {
        color: #E91E63;
    }

  .full-width{
      margin-top: 20px;
      width: 100%;
      
  }