<!-- START PRELOADER -->
<div class="preloader">
    <div class="status">
        <div class="status-mes">
            <div class="loader">
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__ball"></div>
            </div>
        </div>
    </div>
</div>

<!-- Start Slider Area -->
<section id="slider_area">
    <div class="slider_active owl-carousel">
        <div class="slider_item1 single_slide">
            <div class="container">
                <div class="single-slide-item-table">
                    <div class="single-slide-item-tablecell">
                        <div class="slider_content slider-animated-1">
                            <h2 class="animated"> <span>Advanced</span> Software <span>Solutions</span> </h2>
                            <br>
                            <a href="#" class="animated btn main_bg_btn">learn more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  <div class="slider_item2 single_slide">
            <div class="container">
                <div class="single-slide-item-table">
                    <div class="single-slide-item-tablecell">
                        <div class="slider_content text-center slider-animated-2">
                            <h2 class="animated"> <span>E-Commerce </span> Click&Collect</h2>
                            <span class="sl_heading animated">The online showcase for your business</span>
                            <br>
                            <a href="#" class="animated btn main_bg_btn">learn more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <div class="slider_item3 single_slide text-right">
            <div class="container">
                <div class="single-slide-item-table">
                    <div class="single-slide-item-tablecell">
                        <div class="slider_content slider-animated-3">
                            <h2 class="animated"> <span>Foodmanager the </span>Software software </h2>
                            <span class="sl_heading animated">for your Food outlets</span>
                            <br>
                            <a href="#" class="animated btn main_bg_btn">learn more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider_active owl-carousel">
            <div class="slider_item4 single_slide">
                <div class="container">
                    <div class="single-slide-item-table">
                        <div class="single-slide-item-tablecell">
                            <div class="slider_content slider-animated-1">
                                <h2 class="animated"> The software<span> solution </span> for your <span>business</span>
                                </h2>
                                <span class="sl_heading animated">Magazine, Accounting, Invoicing</span>
                                <br>
                                <a href="#" class="animated btn main_bg_btn">learn more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>	
<section id="about_area" class="section_padding bg_white">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12 text-center wow fadeIn" data-wow-delay=".1s">
                <div class="section_title">
            <div class="row page-error" >
              <h1>404 <i class="fa fa-unlink " aria-hidden="true" style="color:#446DCA;"></i></h1>
              <mat-progress-bar mode="determinate" value="40"></mat-progress-bar><br><br>
              <p class="lead">Sorry, the page you were looking for does not exist.</p>
              <a routerLink="/home"  class="btn btn-primary btn-block">Return to home</a>
            </div>
          </div>
          </div>
          </div>
          </div>
        </section>