<!-- START PRELOADER -->
<div class="preloader">
    <div class="status">
        <div class="status-mes">
            <div class="loader">
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__ball"></div>
            </div>
        </div>
    </div>
</div>	
<p>notfound works!</p>
