<br><br><br>
<div id="wrapper" *ngIf="currentUser; else loggedOut">
  <div class="content-page">
    <!-- Start content -->
    <div class="content">
      <br>
      <h5> update profile </h5>
      <mat-progress-bar mode="determinate" value="10"></mat-progress-bar><br><br><br>
      <div class="card m-b-30">
        <div class="card-body">
          <div class="container">
            <form class="example-form" [formGroup]="account"><br><br>
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <label [ngStyle]="{'color':'blue'}"> Username * </label>
                  <input type="text" formControlName="username" placeholder="title"
                    class="form-control">
                </div>
              </div>    
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <br>
                  <label [ngStyle]="{'color':'blue'}">Email *</label>
                  <br>
                  <input type="email" formControlName="email" placeholder="title" class="form-control ">
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <br>
                  <label [ngStyle]="{'color':'blue'}">FiscaleCode *</label>
                  <input type="text" formControlName="fiscaleCode" placeholder="title"
                    class="form-control">
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <br>
                  <label [ngStyle]="{'color':'blue'}">Status *</label>
                  <input type="text" formControlName="accountStatus" placeholder="title"
                    class="form-control">
                </div>
              </div>
            </form>
            <br>
            <button mat-raised-button color="primary" style="width: 100px;" (click)="save()">Save</button>
            &nbsp;&nbsp;
            <button mat-raised-button color="warn" style="width: 100px;">Canncel</button>
            <br><br>
          </div>
        </div>
      </div>
      <br>
      <div>
        <br><br><br>
        <h5>Change Password</h5>
        <mat-progress-bar mode="determinate" value="12"></mat-progress-bar><br><br><br>
        <div class="card m-b-30">
          <div class="card-body">
              <div class="container">
                <form class="example-form" #emailForm="ngForm" (ngSubmit)="onResetPassword(emailForm)"><br><br>
                  <input type="email" class="form-control" name="reset-password-email" id="reset-password-email" ngModel
                    required placeholder="Enter your Email" />
                  <br>
                    <button mat-raised-button color="primary" style="width: 110px;" [disabled]="emailForm.invalid"
                      type="submit">
                      <i *ngIf="refreshing" class="fas fa-spinner fa-spin"></i>&nbsp;&nbsp;
                      <span *ngIf="refreshing">Loading...</span>
                      <span *ngIf="!refreshing">Reset</span>
                    </button>&nbsp;&nbsp;
                    <button mat-raised-button color="warn" style="width: 110px;">Canncel</button>
                  <br><br>
                </form>
                <br><br><br>
              </div>
          </div>
        </div>
      </div>
    </div>
    <!-- content -->
  </div>
</div>
<ng-template #loggedOut>
  Please login.
</ng-template>