<br><br><br>

<div id="wrapper" *ngIf="currentUser; else loggedOut">

  <div class="content-page">
    <!-- Start content -->
    <div class="content">
      <div class="x_panel">
      <h5>update profile </h5>
      <mat-progress-bar mode="determinate" value="10"></mat-progress-bar><br><br>
        <div class="card m-b-30">
          <div class="card-body">
            <br>
            <fieldset>
              <div class="container">
                <form class="example-form" [formGroup]="account"><br><br>
                  <div class="row">
                    <div class="col-md-6 col-sm-6">
                      <label [ngStyle]="{'color':'blue'}"  > Username *</label>
                      <input type="text" formControlName="username" placeholder="title" class="form-control form-control-sm">
                    </div>
                  </div>
               
                <div class="row">
                  <div class="col-md-6 col-sm-6">
                    <br>
                  <label [ngStyle]="{'color':'blue'}" >Email *</label>
                  <br>
                  <input type="email" formControlName="email" placeholder="title" class="form-control form-control-sm">
                  </div>
                  </div>
                  <div class="row">
                  <div class="col-md-6 col-sm-6">
                    <br>
                    <label [ngStyle]="{'color':'blue'}" >FiscaleCode *</label>
                    <input type="text" formControlName="fiscaleCode" placeholder="title" class="form-control form-control-sm">
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-md-6 col-sm-6">
                      <br>
                      <label [ngStyle]="{'color':'blue'}" >Status *</label>
                      <input type="text" formControlName="accountStatus" placeholder="title" class="form-control form-control-sm">
                      </div> 
                      </div> 
                      <div class="row">
                      <div class="col-md-6 col-sm-6">
                        <br>
                        <label [ngStyle]="{'color':'blue'}" >Status *</label>
                        <input type="text" formControlName="password" placeholder="title" class="form-control form-control-sm">
                        </div> 
                        </div> 
                        <div class="row">
                        <div class="col-md-6 col-sm-6">
                          <br>
                          <label [ngStyle]="{'color':'blue'}" >Status *</label>
                          <input type="text" formControlName="matchingPassword" placeholder="title" class="form-control form-control-sm">
                          </div> 
                          </div> 
                </form>
                <br>
                <button mat-raised-button color="primary" style="width: 100px;" (click)="save()">Save</button>
                &nbsp;&nbsp;
                <button mat-raised-button color="warn" style="width: 100px;">Canncel</button>
                <br><br>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
      <br>
      <div class="col-xl-12">
      <h5>Change the password of the Data Bank</h5>
      <mat-progress-bar mode="determinate" value="19"></mat-progress-bar><br><br>
        <div class="card m-b-30">
          <div class="card-body">
            <fieldset class="container">
              <div class="container">
                <form class="example-form" [formGroup]="account"><br><br>
                  <label for=""> Old password*</label> <br>
                  <mat-form-field appearance="fill" style="width: 500px;">
                    <mat-label>Enter your old password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
                  <br>
                  <label for=""> New password *</label> <br>
                  <mat-form-field appearance="fill" style="width: 500px;">
                    <mat-label>Enter your new password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
                  <br>
                  <label for=""> Confirmation of the new password *</label> <br>
                  <mat-form-field appearance="fill" style="width: 500px;">
                    <mat-label>Confirm your new password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
                </form>
                <br>
                <button mat-raised-button color="primary" style="width: 100px;">Save</button>
                &nbsp;&nbsp;
                <button mat-raised-button color="warn" style="width: 100px;">Canncel</button>
                <br><br>

              </div>
            </fieldset>
          </div>
        </div>
      </div>


    </div>
    <!-- content -->



  </div>
</div>

<ng-template #loggedOut>
  Please login.
</ng-template>